<script type="text/javascript">
	(function($){
	    $.fn.extend({        
	        Q4Events: function(options) {
	            var defaults = {
	                tags:[],
	            };
	            var options =  $.extend(defaults, options);
	 
	            return this.each(function() {
	                var o = options;
	                var $this  = $(this);
					var years = [];
					
	                var EventsObject = {
	            		serviceData: {
		                	serviceDto: {
		                		ViewType: GetViewType(),
		                        ViewDate: GetViewDate(),
		                        RevisionNumber: GetRevisionNumber(),
		                        LanguageId: GetLanguageId(),
								TagList: [],
		                        StartIndex:0,
								IncludeTags: false,
		                        Signature: GetSignature()
		                	},
						includePressReleases : true,
						includePresentations : true,
						includeFinancialReports : true,
						sortOperator:1
	            		},
					    getYears:function(){	
					    	var inst = this,
					    	dataPost = this.serviceData;
							
				    		$.ajax({
				       			type: "POST",
						      	url: "/services/EventService.svc/GetEventYearList",
						        data: JSON.stringify(dataPost),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	var years = ['<li class="active" rel="'+data.GetEventYearListResult[0]+'">Latest</li>'];

						        	$.each(data.GetEventYearListResult, function(index, value){
						        		years.push('<li rel="'+value+'">'+value+'</li>');
						        	});
									
						        	var $yearlist = $('<ul />', {html:years.join(''),"id":"EventsYears","class":"EventsYearsList"}).appendTo('#ModuleYearNavContainer');
									
						        	$('<div />', {"class":"EventsListContainer"}).appendTo($this);
									
									inst.serviceData.year = data.GetEventYearListResult[0];
						        	inst.getLatest();

						        	$yearlist.find('li').on("click",function(event){
										$(this).parent().find('li').removeClass('active');
										$(this).addClass('active');
										inst.serviceData.year = parseInt($(this).attr('rel'));
										inst.getEventsList();
										event.preventDefault();
						        	});
						        },
						        error:function(data){
						        	console.log('get years error' + data)
						        }
						    });
					    },
						getLatest:function(){
					    	var inst = this;
							var extraParam = null;
							inst.serviceData.serviceDto.ItemCount = 5;
					    	$.ajax({
				       			type: "POST",
						      	url: "/services/EventService.svc/GetEventList",
						        data: JSON.stringify(inst.serviceData),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	inst.parseEventList.call(this, data, extraParam, inst);
						        },
						        error:function(data){
						        	console.log('get news list error' + data)
						        }
						    });
					    },
						
					    getEventsList:function(){
					    	var inst = this;
							var extraParam = null;
							inst.serviceData.serviceDto.ItemCount = -1;
					    	$.ajax({
				       			type: "POST",
						      	url: "/services/EventService.svc/GetEventList",
						        data: JSON.stringify(inst.serviceData),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	inst.parseEventList.call(this, data, extraParam, inst);
						        },
						        error:function(data){
						        	console.log('get news list error' + data)
						        }
						    });
					    },

					    parseEventList:function(data, param, inst){

							var eventsItems = '';
							var months = [];
							
							$.each(data.GetEventListResult, function(index, value){
								var eventsItemRow = index%2 ? "ModuleItemRow ModuleItemAlt ItemEven" : "ModuleItemRow ItemOdd";
								
								var files = [];
								
									
								if (value.WebCastLink.length && value.WebCastLink != "http://q4websystems.com/")
									files.push('<span class="RelatedWebcast"><a class="Webcast" target="_blank" href="'+value.WebCastLink+'">&nbsp;</a></span>');
								
								if (value.DocumentPath != null && value.DocumentPath.length)
									files.push('<span class="RelatedSupportingDocument"><a class="SupportingDoc" target="_blank" href="'+value.DocumentPath+'">&nbsp;</a></span>');
								
								var datePost  = function(date){
									return $.datepicker.formatDate('M d, yy', new Date(date));
								};
						
								var themonth = function (date)
								{
									return $.datepicker.formatDate('MM', new Date(date));
								};
								
								if ($.inArray(themonth(value.StartDate),months) < 0 )
								{
									eventsItems+='<div class="monthTitle">'+themonth(value.StartDate)+'</div>';
									months.push(themonth(value.StartDate));
								}
								
								eventsItems+='<div class="'+eventsItemRow+'">';
								eventsItems+='<div class="ModuleDate">'+datePost(value.StartDate)+'</div>';
								eventsItems+='<div class="Title"><div class="LeftTitle"><a href="'+value.LinkToDetailPage+'" class="ModuleHeadlineLink">'+value.Title+'</a></div><div class="RightTitle"><a href="javascript:void(0);" class="viewMore">View More</a></div></div>';
								eventsItems+='<div class="ShortBody" style="display:none">'+value.Body;
								eventsItems+='</div>';
								eventsItems+='<div class="AdditonalFiles" style="display:none">';
								eventsItems+='<div class="social">';
								eventsItems+=files.join('');
								eventsItems+='<a class="stBTN"><span class="st_sharethis" st_url="'+value.LinkToDetailPage+'"></span></a>';
								eventsItems+='<a class="emBTN"><span class="st_email_large" st_url="'+value.LinkToDetailPage+'"></span></a>';
								eventsItems+='<a class="printBTN" href="'+value.LinkToDetailPage+'?print=1" target="_blank">print</a>';
								eventsItems+='</div>';
								eventsItems+='</div>';

								eventsItems+='</div>'
								
							});
							
							if(eventsItems.length){
								$this.find('.EventsListContainer').html(eventsItems);
							}
							else{
								$this.find('.EventsListContainer').html('No items found this year');	
							}


						}
	                };
					EventsObject.getYears();
	            });
	        }
	    });  
	})(jQuery);

	$(document).ready(function(){
		$('.PastEventsContainer').Q4Events();
	});
	
	$(document).ajaxComplete(function()
	{
		$('a.viewMore').on("click",function(event)
		{
			var shortB = $(this).parent().parent().parent().find('.ShortBody');
			var aFiles = $(this).parent().parent().parent().find('.AdditonalFiles');
			if (shortB.is(':visible'))
			{
				shortB.fadeOut();
				aFiles.hide();
				$(this).text('View More');
			}
			else { shortB.fadeIn(); aFiles.show(); $(this).text('Collapse'); }
		});
	});
</script>


<!-- Year Dropdown Container -->
<div id="ModuleYearNavContainer"></div>

<!-- Events Container -->
<div class="PastEventsContainer">

</div>