<script type="text/javascript">
(function($){
    $.fn.extend({
        FinancialTable:function(options){
            var defaults = {
                years: 4
            };
            var opts = $.extend(defaults, options);

            return this.each(function(){
                var o = opts;
                var $this = $(this);

                var FinancialObj = {

                    FeedData: {
                        serviceDto:{
                            ViewType: GetViewType(),
                            ViewDate: GetViewDate(),
                            RevisionNumber: GetRevisionNumber(),
                            LanguageId: GetLanguageId(),
                            Signature: GetSignature(),
                            TagList: [],
                            StartIndex: 0,
                            IncludeTags: true
                        }
                    },

                    extraParam: {},

                    getFinancialYears:function(){
                        var inst = this;

                        $.ajax({
                            type: "POST",
                            url: "/Services/FinancialReportService.svc/GetFinancialReportYearList",
                            data: JSON.stringify(inst.FeedData),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function(data){
                                var table = [
                                    '<table cellspacing="0" cellpadding="0" width="100%" class="CustomTable">',
                                        '<tbody>',
                                            '<tr class="Header"><th align="left" class="first">Document</th></tr>',
                                            '<tr class="quarterly"><td>10-Q (Quarterly Report)</td></tr>',
											'<tr class="annual"><td>10-K (Annual Report)</td></tr>',
                                            '<tr class="proxy"><td>Proxy Statements</td></tr>',
                                            '<tr class="supplemental"><td>Supplemental</td></tr>',
											'<tr class="earnings"><td>Earnings Release</td></tr>',
											'<tr class="transcript"><td>Transcripts</td></tr>',
                                        '</tbody>',
                                    '</table>'
                                ].join('');

								$.each(data.GetFinancialReportYearListResult, function( index, value ){
									if ( index < 5 ) {
										var tableYear = index % 5 + 1;

										if (index % 5 === 0) {
											$this.append(table);
										}

										var $table = $this.find('table:last');

										$table.find('tr:first').append( '<th align="center">FY' + value + '</th>' );
										$table.find('tr').not(':first').append( '<td></td>' );

										inst.extraParam.year = value;
										inst.getFinancials.call(this, tableYear, value, $table, inst);
									}
								});

								//inst.tableNation();
                            }
                        });
                    },

                    getFinancials:function(tableYear, year, $table, inst){

                        var financialData = {
                            year: inst.extraParam.year
                        };

                        var extraParam = $.extend( {}, inst.FeedData, financialData );
                        extraParam.serviceDto.TagList = [];

                        $.ajax({
                            type: "POST",
                            url: "/Services/FinancialReportService.svc/GetFinancialReportList",
                            data: JSON.stringify(extraParam),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function(data){

                                $.each(data.GetFinancialReportListResult, function( index, value ){
                                    var tag = value.TagsList[0],
                                    type;
                                    quarter = value.ReportSubType;
                                    
                                    switch(quarter) {
                                            case "First Quarter":
                                                quarter = "Q1";
                                                break;
                                            case "Second Quarter":
                                                quarter = "Q2";
                                                break;
                                            case "Third Quarter":
                                                quarter = "Q3";
                                                break;
                                            case "Fourth Quarter":
                                                quarter = "Q4";
                                                break;
                                            default:
                                                break;
                                    }

                                    $.each(value.Documents, function(i, val){
                                        var documents = [],
                                        name = val.DocumentTitle,
                                        url = val.DocumentPath;
                                        category = val.DocumentCategory;
										
										if (value.ReportSubType != 'Annual Report' && value.ReportSubType != 'Supplemental Report' && val.DocumentCategory == '10Q') {
											var type = 'quarterly';
											documents.push('<span class="finLink"><a target="_blank" href="'+url+'">'+quarter+'</a></span>');
										}
										//value.ReportSubType != 'Annual Report' && value.ReportSubType != 'Supplemental Report' && 
										else if (val.DocumentCategory == 'Proxy') {
											var type = 'proxy';
											documents.push('<span class="finLink"><a target="_blank" href="'+url+'">Proxy</a></span>');
										}
										else if (value.ReportSubType != 'Annual Report' && value.ReportSubType != 'Supplemental Report' && val.DocumentCategory == 'Supplemental') {
											var type = 'supplemental';
											documents.push('<span class="finLink"><a target="_blank" href="'+url+'">'+quarter+'</a></span>');
										}
										else if (value.ReportSubType != 'Annual Report' && value.ReportSubType != 'Supplemental Report' && val.DocumentCategory == 'PressRelease') {
											var type = 'earnings';
											documents.push('<span class="finLink DocType'+val.DocumentType+'"><a target="_blank" href="'+url+'">'+quarter+'</a></span>');
										}
										else if (val.DocumentCategory == 'Transcript') {
											var type = 'transcript';
											documents.push('<span class="finLink DocType'+val.DocumentType+'"><a target="_blank" href="'+url+'">'+quarter+'</a></span>');
										}
										else if (val.DocumentCategory == '10K') {
											var type = 'annual';
											documents.push('<span class="finLink"><a target="_blank" href="'+url+'">Annual</a></span>');
										}

										$table.find('.'+type+' td').eq(tableYear).append(documents.join(''));
                                    });
                                });
                            }
                        });
                    },
                };

                FinancialObj.getFinancialYears();
            });
        }
    });
}) (jQuery);

$(document).ready(function () {
    $('.FinancialTable').FinancialTable();
});
</script>
<div class="FinancialTable"></div>
<!--
<div class="FinancialTableNav">
    <span class="prev" style="display:none;">< << </span>5 Years
    <span class="next"> >> ></span>
</div>
-->