<script src="http://q4widgets.q4web.com/slideshare/modules/slideshare.js"></script>
<script type="text/javascript">
	var imptag = 'important';
	
	(function($){
	    $.fn.extend({        
	        Q4Events: function(options) {
	            var defaults = {
	                tags:[],
					itemsPerPage:10
	            };
	            var itemsPerPage = 10;     
	            var currentPage = 1;
	            var options =  $.extend(defaults, options);
	 
	            return this.each(function() {
	                var o = options;
	                var $this  = $(this);
					var years = [];
					var first_time=0;
	                var EventsObject = {
	            		serviceData: {
		                	serviceDto: {
		                		ViewType: GetViewType(),
		                        ViewDate: GetViewDate(),
		                        RevisionNumber: GetRevisionNumber(),
		                        LanguageId: GetLanguageId(),
		                        ItemCount:o.itemsPerPage,
								TagList: [o.tags[0]],
		                        StartIndex:0,
								IncludeTags: true,
		                        Signature: GetSignature()
		                	},
						year : -1,
						eventSelection: 3,
						sortOperator:1
	            		},

					    getTagList:function(){
					    	var inst = this;
					    	var tags = [];
					    	var clasa = '';
					    	$.each(o.tags, function(index, tag){
							  clasa = index==0?'selected':'';
							  if (tag == "conferences")
								tag = "conference";
			                  var items ='<li class="'+clasa+'"><a rel="'+tag+'" class="tab'+(index+1)+'">'+(tag == "conference"?'Conferences':tag)+'</a></li>';
			                  tags.push(items);
			                });
							//Presentations 
							tags.push('<li><a rel="presentation" class="tab3">Presentations</a></li>')
							
					    	var $tabstag  = $('<ul />', {html:tags.join(''),"class":"tabs"}).appendTo('.ModuleTagsContainer');
							
							
							$tabstag.find('li').click(function(event){
								var tag = $(this).find('a').attr('rel');
								var YearNew = $('select#EventsYears').val();
								if (tag !="presentation")
								{
									currentPage = 1;
									event.preventDefault();
									inst.serviceData.serviceDto.StartIndex = 0; 
									inst.serviceData.serviceDto.TagList = [tag];  
									inst.year = YearNew ;
									inst.getEventsList();
									inst.getEventsCount();
								}
								else
								{
									inst.appendPresentation();
								}
								jQuery('ul.tabs li').removeClass('selected');
								jQuery(this).addClass('selected');
								jQuery('.EventsListContainer .tabs').fadeOut();
								jQuery('.EventsContainer .'+$(this).find('a').attr('rel')).fadeIn();
			                });
			            },
						getUpcomingTagList:function()
						{
							var inst = this;
							$container = $('#UpcomingEventsContainer');

							var tags =['<li><a rel="earnings" class="tab1">Earnings</a></li>','<li><a rel="conference" class="tab2">Conferences</a></li>'];
							
							var $tabs = $('<ul />',{html:tags.join(''),'class':'tabsup'}).appendTo('#UpcomingEventsContainer .uptabs');
							
							$tabs.find('li').click(function(event)
							{
								var this_tag = $(this).find('a').attr('rel');
								$container.find('ul.tabsup li').removeClass('selected');
								$(this).addClass('selected');
								$container.find('.UpcomingEventsContainer .earnings,.UpcomingEventsContainer .conference').hide();
								$container.find('.UpcomingEventsContainer .'+$(this).find('a').attr('rel')).show();
							});
							inst.serviceData.eventSelection = 1;
							inst.serviceData.serviceDto.ItemCount = -1;
							inst.serviceData.sortOperator = 0;
							inst.year = - 1;
							inst.serviceData.serviceDto.TagList = [imptag];
							inst.getUpcomingList();
							inst.serviceData.serviceDto.ItemCount = o.itemsPerPage;
							inst.serviceData.serviceDto.TagList = ['earnings'];
						},
						getUpcomingList:function()
						{
							var inst = this;
							var extraParam = null;
							$container = $('#UpcomingEventsContainer');
							$.ajax({
				       			type: "POST",
						      	url: "/services/EventService.svc/GetEventList",
						        data: JSON2.stringify(inst.serviceData),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
									$container.find('.UpcomingEventsContainer').html();
						        	inst.parseUpcomingList.call(this, data, extraParam, inst);
						        },
						        error:function(data){
						        	console.log('get news list error' + data)
						        }
						    });
						},
						parseUpcomingList:function(data, param, inst)
						{
							var eventsItems = '';
							var eventsItemsc = '';
							
							$container = $('#UpcomingEventsContainer');
							
							$.each(data.GetEventListResult, function(index, value){
								
									
										var datePost  = function(date){
											return $.datepicker.formatDate('mm/dd/yy', new Date(date));
										};
								if ($.inArray('earnings',value.TagsList) > - 1 && $.inArray(imptag,value.TagsList) > - 1)
								{
									
										
										var eventsItemRow = "ModuleItemRow ModuleItemAlt";
										
										var file = value.DocumentFileSize != null ? '<a class="EventsFile '+value.DocumentFileType+'" href="'+value.DocumentPath+'"></a>' : '';
										
									
										eventsItems+='<div class="'+eventsItemRow+'">';
										eventsItems+='<span class="ModuleDate">'+datePost(value.StartDate)+' '+value.StartDate.substring(10,16)+' '+value.TimeZone+'</span>';
										eventsItems+='<a href="'+value.LinkToDetailPage+'" class="ModuleHeadlineLink">'+value.Title+'</a>';
										eventsItems+='<span>';
										eventsItems+=file;
										eventsItems+='<a href="'+value.LinkToDetailPage+'" class="HTML"></a>';
										eventsItems+='</span>';
										eventsItems+='</div>';
								}
								else if ($.inArray('conference',value.TagsList) > - 1 && $.inArray(imptag,value.TagsList) > - 1)
								{
									var eventsItemRow = "ModuleItemRow ModuleItemAlt";
										
										var file = value.DocumentFileSize != null ? '<a class="EventsFile '+value.DocumentFileType+'" href="'+value.DocumentPath+'"></a>' : '';
										
										
										
										eventsItemsc+='<div class="'+eventsItemRow+'">';
										eventsItemsc+='<span class="ModuleDate">'+datePost(value.StartDate)+' '+value.StartDate.substring(10,16)+' '+value.TimeZone+'</span>';
										eventsItemsc+='<a href="'+value.LinkToDetailPage+'" class="ModuleHeadlineLink">'+value.Title+'</a>';
										eventsItemsc+='<span>';
										eventsItemsc+=file;
										eventsItemsc+='<a href="'+value.LinkToDetailPage+'" class="HTML"></a>';
										eventsItemsc+='</span>';
										eventsItemsc+='</div>';
								}
							});
							
							
							if(eventsItems.length){
								$container.find('.UpcomingEventsContainer .earnings').html(eventsItems);
							}
							else{
								$container.find('.UpcomingEventsContainer .earnings').html('No items found.');	
							}	

							if(eventsItemsc.length){
								$container.find('.UpcomingEventsContainer .conference').html(eventsItemsc);
							}
							else{
								$container.find('.UpcomingEventsContainer .conference').html('No items found.');	
							}			
									
							
						},
					    getYears:function(){	
					    	var inst = this,
					    	dataPost = this.serviceData;
							inst.serviceData.serviceDto.TagList = ['earnings','conference'];
				    		$.ajax({
				       			type: "POST",
						      	url: "/services/EventService.svc/GetEventYearList",
						        data: JSON2.stringify(dataPost),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	var years = ['<option value="-1">All years</option>'];

						        	$.each(data.GetEventYearListResult, function(index, value){
						        		years.push('<option value="'+value+'">'+value+'</option>');
						        	});
									
									$('<span class="year">Year: </span>').appendTo('#ModuleYearNavContainer');
						        	var $selectbox = $('<select />', {html:years.join(''),"id":"EventsYears","class":"EventsYearsDropdown"}).appendTo('#ModuleYearNavContainer');
						        	$('<div />', {"class":"EventsListHeader"}).appendTo($this);
						        	$('<div />', {"class":"EventsListContainer"}).appendTo($this);
									//$this.find('.EventsListHeader').html('<span id="eventsHeader" class="ModuleHeader">All Releases</span>');
									inst.serviceData.serviceDto.TagList = ['earnings'];
									inst.serviceData.sortOperator = 1;
						        	inst.getEventsList();

						        	$selectbox.change(function(event){
										inst.serviceData.serviceDto.StartIndex = 0;	
										currentPage = 1;
										inst.serviceData.sortOperator=0;
										if ($(this).val() == "-1" ){inst.serviceData.sortOperator=1;}
										inst.serviceData.year = parseInt($selectbox[0].value);
										if (!$('.tab3').parent().hasClass('selected'))
											inst.getEventsList();
										//inst.getEventsCount(); why ?
						        	});
						        },
						        error:function(data){
						        	console.log('get years error' + data)
						        }
						    });
					    },

					    

					    getEventsList:function(){
					    	var inst = this;
							var extraParam = null;
							inst.serviceData.eventSelection = 3;
							
							if (typeof $('.Tab3Content') != "undefined" && $('.Tab3Content').is(":visible"))
								$('.Tab3Content').hide();
							
							$('.PaginationCont').show();
							
							if (!$('#ModuleYearNavContainer').is(":visible"))
								$('#ModuleYearNavContainer').show();
					    	$.ajax({
				       			type: "POST",
						      	url: "/services/EventService.svc/GetEventList",
						        data: JSON2.stringify(inst.serviceData),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	inst.parseEventList.call(this, data, extraParam, inst);
									inst.getEventsCount();
						        },
						        error:function(data){
						        	console.log('get news list error' + data)
						        }
						    });
					    },

					    parseEventList:function(data, param, inst){

							var eventsItems = '';
							$.each(data.GetEventListResult, function(index, value){
								var eventsItemRow = index%2 ? "ModuleItemRow ModuleItemAlt ItemEven" : "ModuleItemRow ItemOdd";
								
								var file = value.DocumentFileSize != null ? '<a class="EventsFile '+value.DocumentFileType+'" href="'+value.DocumentPath+'"></a>' : '';
								
								
								var datePost  = function(date){
									return $.datepicker.formatDate('mm/dd/yy', new Date(date));
								};
						
								
								var an = datePost(value.StartDate).substring(6,10);
								
								years.push(an);
								eventsItems+='<div class="'+eventsItemRow+'">';
								eventsItems+='<span class="ModuleDate">'+datePost(value.StartDate)+' '+value.StartDate.substring(10,16)+' '+value.TimeZone+'</span>';
								eventsItems+='<a href="'+value.LinkToDetailPage+'" class="ModuleHeadlineLink">'+value.Title+'</a>';
								eventsItems+='<span>';
								eventsItems+=file;
								eventsItems+='<a href="'+value.LinkToDetailPage+'" class="HTML"></a>';
								eventsItems+='</span>';
								eventsItems+='</div>';

							});
							/*
							$('select#EventsYears option').each(function(index)
							{
								
									if (index)
										if ($.inArray($(this).val(),years) < 0 )
											$(this).remove();
							});
							*/
							if(eventsItems.length){
								$this.find('.EventsListContainer').html(eventsItems);
							}
							else{
								$this.find('.EventsListContainer').html('No items found this year');	
							}

							/*
							$('.shortBodyToggle').click(function(){
								$(this).toggleClass('active').parent().next().toggle();
							});
							*/

						},

						getEventsCount : function(){	
					    	var inst = this;
					    	//var extraParam = $.extend(inst.serviceData, inst.extraParam);

					    	$.ajax({
				       			type: "POST",
						      	url: "/services/EventService.svc/GetEventListCount",
						        data: JSON.stringify(inst.serviceData),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	var i, html;
									
						        	var num = data.GetEventListCountResult;
						        	inst.EventsCount  = parseInt(num);
						        	var shows = inst.EventsCount>itemsPerPage?(inst.serviceData.serviceDto.StartIndex+itemsPerPage>=inst.EventsCount)?num:inst.serviceData.serviceDto.StartIndex+itemsPerPage:num;
						        	var pages = Math.ceil(inst.EventsCount/itemsPerPage);
						        	var pageArr = [];
						        	var lastNum = $('.pageNum li:last a').text();
									
									if (num <= 0 )
										$('.PaginationCont').hide();
									else $('.PaginationCont').show();
									
										$('.PaginationCont span.showing').html('<p class="PaginNumbers">Showing '+(inst.serviceData.serviceDto.StartIndex+1)+'-'+shows+' of '+num+'</p>');

										pageArr.push("<li>Page:</li>");
										pageArr.push("<li><a href='#'>1</a></li>");

										//Build 4 numbers before the current page with ...
										if (currentPage >=6){
											pageArr.push("<li class='spacer'>...</li>");
											for (i=currentPage-4; i<currentPage+1; i++){
												pageArr.push("<li><a href='#'>"+i+"</a></li>");
											}
										}
										//Build numbers before current page without ...
										else {
											for (i=2; i<currentPage+1; i++){
												pageArr.push("<li><a href='#'>"+i+"</a></li>");	
											}
										}

										//Build 4 numbers after the current page (excludes 1)
										if (currentPage+5 < pages){
											for (i=currentPage+1; i<currentPage+5; i++){
												pageArr.push("<li><a href='#'>"+i+"</a></li>");
											}
										}

										//Stop making numbers > last page
										else {
											for (i=currentPage+1; i<pages; i++){
												pageArr.push("<li><a href='#'>"+i+"</a></li>");
											}
										}
										
										if (currentPage < pages-5){
											pageArr.push("<li class='spacer'>...</li>");
										}

										if (currentPage != pages){
											pageArr.push("<li><a href='#'>"+pages+"</a></li>");
										}

										html = pageArr.toString();
										$('.pageNum').html(html.replace(/,/g, ''));
										$('.pageNum li a:contains('+currentPage+'):first').parent().html(currentPage);

										$('.pageNum li:not(":first")').not('.spacer').click(function(event){
											event.preventDefault();
											currentPage = parseInt($(this).text());
											var number = $(this).text()-1;
											inst.serviceData.serviceDto.StartIndex = number*itemsPerPage;
											inst.getEventsList();
										});

										//Next | Prev Functionality
										if (currentPage == 1){$('.Prev, .Spacer').hide();}
										else {$('.Prev, .Spacer').show();}

										if (currentPage == lastNum){$('.Next, .Spacer').hide();}
										else if (currentPage > 1){$('.Next, .Spacer').show();}
										else  {$('.Next').show();}

										$('.controls .Next').unbind('click').click(function(event){
											event.preventDefault();
											lastNum = $('.pageNum li:last a').text();
											if (currentPage < lastNum){
												inst.serviceData.serviceDto.StartIndex = currentPage*itemsPerPage;
												inst.getEventsList();
												currentPage += 1;
											}
										});

										$('.controls .Prev').unbind('click').click(function(event){
											event.preventDefault();
											if (currentPage > 1){
												var PrevPage = Math.round((shows/10)-2);
												currentPage -= 1;
												inst.serviceData.serviceDto.StartIndex = PrevPage*itemsPerPage;
												inst.getEventsList();
											}
										}); 
									
						        },
						        error:function(data){
						        	console.log('Count news error' + data);
						        }
						    });
					    },
						getPresentationList:function()
						{
							var inst = this;
							inst.serviceData.serviceDto.TagList=["conferencepresentation","earningspresentation"];
							inst.serviceData.serviceDto.IncludeTags=true;
							inst.serviceData.presentationSelection=3;
							var extraParam = null;
							var returned;
					    	$.ajax({
				       			type: "POST",
						      	url: "/services/PresentationService.svc/GetPresentationList",
						        data: JSON2.stringify(inst.serviceData),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	returned = inst.parsePresentationList.call(this, data, extraParam, inst);
						        },
						        error:function(data){
						        	console.log('get news list error' + data)
						        }
						    });
							
							return returned;
						},
						parsePresentationList:function(data, param, inst)
						{
							var items_conf = [];
							var items_earn = [];
							var item ;
							
							var datePost  = function(date){
									return $.datepicker.formatDate('mm/dd/yy', new Date(date));
								};
							
							
							$.each(data.GetPresentationListResult, function(index, value){
								var cl = index%2==0?'EvenRow':'OddRow';
								item = '<div class="ItemRow '+cl+'"><a href="'+value.DocumentPath+'" target="_blank"><span class="Date">'+datePost(value.PresentationDate)+'</span><span class="DocTitle">'+value.Title+'</span> (<span class="docFormat">'+value.DocumentFileType+'</span> <span class="DocSize">'+value.DocumentFileSize+' </span> )</a></div>';
								if ($.inArray("earningspresentation",value.TagsList))
									items_earn.push(item);
								else if ($.inArray("conferencepresentation",value.TagList))
									items_conf.push(item);
							});
							$('#earnings-presentations .Content').html(items_conf.join(''));
							$('#conference-presentations .Content').html(items_earn.join(''));
							
						},
						appendPresentation : function(){
								var inst = this;
								if (first_time ==0)
								{
								
									var html = $('<div />', {"class":"Tab3Content"});
									var slideshare = $('<div />',{"class":"slideshare"}).appendTo(html);
									var earnings_html='<div id="earnings-presentations" class="EarningsPresentations"> <div class="Title">Earnings Presentations</div><div class="Content"></div></div>';
									var conference_html= '<div id="conference-presentations" class="ConferencePresentations"> <div class="Title">Conference Presentations</div><div class="Content"></div></div>';
									html.append(earnings_html);
									html.append(conference_html);
									slideshare.slideshare({
											username: 'InvestorBruker',
											limit: 1,
											size: {
												width: 451,
												height: 389
											}
										});
									
									
									//var earnings_presentations = $('<div />',{"class":'EarningsPresentations','id':'EarningPresentations',html:earnings_html}).appendTo(html);
									
									//presenations 
									inst.getPresentationList();
									
									//create temporary div
									//$('<div />',{"id":"HiddenTab3","style":"display:none"}).appendTo('body');
									//$('.LatestPresentation.slideshare').show();
									// replace 
									$this.find('.EventsListContainer').after(html);
									$this.find('.EventsListContainer').html('');
									$('.PaginationCont').hide();
									$('#ModuleYearNavContainer').hide();
									first_time=1;
								}
								else
								{
									$this.find('.EventsListContainer').html('');
									$('.PaginationCont').hide();
									$('#ModuleYearNavContainer').hide();
									$('.Tab3Content').show();
								}
						}
	                };
					EventsObject.getUpcomingTagList();
					EventsObject.getYears();
					EventsObject.getTagList();
	            });
	        }
	    });  
	})(jQuery);

	$(document).ready(function(){
		//$('.LatestPresentation.slideshare').hide();
		$('.EventsWidget .EventsContainer').Q4Events({
			tags:["earnings","conferences"]
		});
	});
</script>

<!-- Upcoming Events Addon -->
<div id="UpcomingEventsContainer">
	<div class="uptabs"></div>
	<div class="UpcomingEventsContainer">
		<div class="earnings"></div>
		<div class="conference" style="display:none"></div>
	</div>
</div>

<!-- Year Dropdown Container -->
<div id="ModuleYearNavContainer"></div>
<!-- Tags Tabs Container-->
<div class="ModuleTagsContainer tabLinks"></div>

<!-- Events Container -->
<div class="EventsContainer">


</div>

<!-- Pagination -->
<div class="PaginationCont">
        <span class="controls">
		<span class="Prev"> &lt; &nbsp;&lt;&lt;</span>
	</span>
	<span class="showing"></span>
	<span class="controls">
		<span class="Next"> &gt;&gt;&nbsp; &gt;</span>
	</span>
        <ul class="pageNum"></ul>
</div>