<!--<div class="FaqsTriggerAll allHidden">
   <span class="showAll">Expand All</span>
   <span style="display:none;" class="hideAll">Hide All</span>
</div>-->
<h1>Quarterly Reports</h1>
<style>
.DocumentInfo{display:none;}
</style>
<div id="FinancialWidgetLoader"></div>
<div id="FinancialYearNav">

</div>
<div id="FinancialWidget"></div>

<script type="text/javascript">
(function($){

    $.fn.extend({ 
        
        FinancialWidget: function(options) {
 
		var defaults = {
			ItemCount: -1,
			reportType:false,
			callBackFxn:false
		}

		var options =  $.extend(defaults, options);
 
		return this.each(function() {
                var o = options,
				 $obj = $(this);
				
				var FinancialObj = {
					
					dataPost:{
						 serviceDto:
                        {
                            ViewType: GetViewType(),
                            ViewDate: GetViewDate(),
                            RevisionNumber: GetRevisionNumber(),
                            LanguageId: GetLanguageId(),
                            Signature: GetSignature(),
                            TagList: [],
                            IncludeTags: true,
							ItemCount: o.ItemCount
                        }
					},
					
					getYears:function(){
						var inst = this,
							options = [];
						
						options =  $.extend(inst.dataPost, options);
						
						$.ajax({
							type: "POST",
							url: "/Services/FinancialReportService.svc/GetFinancialReportYearList",
							data: JSON.stringify(options),
							contentType: "application/json; charset=utf-8",
							dataType: "json",
							success:function(data)
							{
									var years = [];
						        	$.each(data.GetFinancialReportYearListResult, function(index, value){
						        		var classname = index==0 ? 'class="selected"' : '';
						        		years.push('<li '+classname+'><a href="year'+value+'" onclick="return false;">'+value+'</a></li>');
						        	});
									
									var $list = $('<ul />', {html:years.join(''),"id":"NewsYears"}).appendTo('#FinancialYearNav');
									
									inst.dataPost.year = -1;
									
									inst.getFinancial();
									
									$('ul#NewsYears').find('a').on('click',function(event){
										var link = $(this).attr('href');
										$('#NewsYears li').removeClass('selected');
										inst.dataPost.year = parseInt(link.substring(4));
										$(this).parent().addClass('selected');
						        		inst.getFinancial();
						        	});
									
							}
						});
						
					},
					getFinancial:function(){
						var inst = this,
							options = [];
						
						options =  $.extend(inst.dataPost, options);
						
						$.ajax({
							type: "POST",
							url: "/Services/FinancialReportService.svc/GetFinancialReportList",
							data: JSON.stringify(options),
							contentType: "application/json; charset=utf-8",
							dataType: "json",
							success:inst.parseFinancial
						});
					},
					
					parseFinancial:function(data){
						var inst = this;
						var YearArray  = [];
						$obj.find('.YearContianer:last .slideUpDown').html('');
						$.each(data.GetFinancialReportListResult, function(i, val){
						if( val.ReportSubType !== "Annual Report" && val.ReportSubType !== "Supplemental Report"){
							var dateVal = $.datepicker.formatDate("MM dd, yy", new Date(val.ReportDate));
							var ReportType  = val.ReportSubType;
							var ReportFiscalYear = val.ReportYear;
							var ReportTitleYear = val.ReportDate.split('/').pop().split(' ').shift(),
							DocumentRlative = val.Documents[0],
							Documents = [];
								
							$.each(val.Documents, function(item, doc){
								documentText = (doc.DocumentType == "Online")?'Listen to Webcast':'Download' ;
								var docSize = (doc.DocumentFileSize != '' && doc.DocumentFileSize != null) ? '('+doc.DocumentFileSize+')' : '';
								var docContent = '<li class="'+doc.DocumentType+'"><span class="Title"><a href="'+doc.DocumentPath+'" class="'+doc.DocumentFileType+'" target="_blank">'+doc.DocumentTitle+'</a></span><a href="'+doc.DocumentPath+'" class="'+doc.DocumentCategory+' '+doc.DocumentFileType+'" target="_blank"></a></li>'
								Documents.push(docContent);
							});
							var quarter = val.ReportTitle.split(" ");

									switch (quarter[0]){
										case "First":
										quarter = "<span>Q1 "+ReportFiscalYear+"</span>"
										break;
										case "Second":
										quarter = "<span>Q2 "+ReportFiscalYear+"</span>"
										break;
										case "Third":
										quarter = "<span>Q3 "+ReportFiscalYear+"</span>"
										break;
										case "Fourth":
										quarter = "<span>Q4 "+ReportFiscalYear+"</span>"
										break;
									}
							
							var content = '<div class="FinancialItem">';
								content+='<p><b>'+quarter+'</b><span class="ArrowSlide">&nbsp;</span></p>';
								content+='<div class="DocumentInfo"><ul class="LeftList"><li class="DateList">'+dateVal+'</li></ul><ul class="RightList">'+Documents.join('')+'</ul></div>';
								content+='</div>';
							if($.inArray( ReportFiscalYear, YearArray ) ==-1){

								YearArray.push(ReportFiscalYear);
								$obj.append('<div class="YearContianer year'+ReportFiscalYear+'"><div class="slideUpDown"></div></div>');
								//$("#FinancialYearNav>ul").append('<li rel="'+ReportFiscalYear+'">'+ReportFiscalYear+'</li>');
							}
							
							$obj.find('.YearContianer:last .slideUpDown').append(content);
							$('#FinancialYearNav, #FinancialWidget').show();
							
						}
						});

						if(typeof o.callBackFxn=='function'){	
							o.callBackFxn.call(this);
						}

					},
					init:function(){
						
					}
				};            	
				FinancialObj.getYears();		
            });
        }
    });     
})(jQuery);

$(function(){
	$("#FinancialWidget").FinancialWidget();
	$('#FinancialWidget').ajaxComplete(function(){
		//$('#FinancialWidget .YearContianer:first .FinancialItem:first').addClass('active').find('.DocumentInfo').show();
		$('#FinancialWidget .YearContianer .FinancialItem p').click(function(){
			var pInst = $(this);
			if(pInst.hasClass('toggleing')){
				return false;
			}
			pInst.addClass('toggleing');
			$(this).parent().toggleClass('active').find('.DocumentInfo').slideToggle('fast', function(){ pInst.removeClass('toggleing'); });
		});

				$('.slideUpDown>div.FinancialItem>p:first').trigger('click');	
				$("#FinancialYearNav>ul>li:first").trigger('click');
				$('#FinancialWidgetLoader').hide();
				});

});
</script>
