<script type="text/javascript">
	
	(function($){
	    $.fn.extend({        
	        Q4Events: function(options) {
	            var defaults = {
	                tags:[],
	            };
	            var currentPage = 1;
	            var options =  $.extend(defaults, options);
	 
	            return this.each(function() {
	                var o = options;
	                var $this  = $(this);

	                var EventsObject = {
	            		serviceData: {
		                	serviceDto: {
		                		ViewType: GetViewType(),
		                        ViewDate: GetViewDate(),
		                        RevisionNumber: GetRevisionNumber(),
		                        LanguageId: GetLanguageId(),
		                        ItemCount:-1,
								TagList: [],
		                        StartIndex:0,
		                        Signature: GetSignature()
		                	},
						 year : -1,
						 sortOperator:1,
	            		},


					    getYears:function(){	
					    	var inst = this,
					    	dataPost = this.serviceData;

				    		$.ajax({
				       			type: "POST",
						      	url: "/services/EventService.svc/GetEventYearList",
						        data: JSON.stringify(dataPost),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	var years = [];

						        	$.each(data.GetEventYearListResult, function(index, value){
						        		years.push('<li class="PastEventYearElement"><a href="'+value+'" onclick="return false;">'+value+'</a></li>');
						        	});
									
									//$('<ul class="EventYearList"> </ul>').appendTo('#ModuleYearNavContainer');
						        	var $list = $('<ul />', {html:years.join(''),"id":"EventsYears","class":"EventYearList"}).appendTo('#ModuleYearNavContainer');
						        	$('<div />', {"class":"EventsListHeader"}).appendTo($this);
						        	$('<div />', {"class":"EventsListContainer"}).appendTo($this);
									//$this.find('.EventsListHeader').html('<span id="eventsHeader" class="ModuleHeader">All Releases</span>');
									inst.serviceData.year = parseInt(data.GetEventYearListResult[0]);
						        	inst.getEventsList();

						        	$('.EventYearList li a').click(function(event){
										inst.serviceData.serviceDto.StartIndex = 0;	
										inst.serviceData.year = parseInt($(this).attr('href'));
										$('.EventYearList li').removeClass('active');
										$(this).parent().addClass('active');
						        		inst.getEventsList();
						        	});
						        },
						        error:function(data){
						        	console.log('get years error' + data)
						        }
						    });
					    },

					    

					    getEventsList:function(){
					    	var inst = this;
							//inst.getEventsCount();
							var extraParam = null;
							
							inst.serviceData.includePressReleases = true;
							inst.serviceData.includePresentations = true;
							inst.serviceData.includeFinancialReports = true;
					    	$.ajax({
				       			type: "POST",
						      	url: "/services/EventService.svc/GetEventList",
						        data: JSON.stringify(inst.serviceData),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	inst.parseEventList.call(this, data, extraParam, inst)
						        },
						        error:function(data){
						        	console.log('get news list error' + data)
						        }
						    });
					    },

					    parseEventList:function(data, param, inst){

							var eventsItems = '';

							$.each(data.GetEventListResult, function(index, value){
								var eventsItemRow = index%2 ? "ModuleItemRow ModuleItemAlt ItemEven" : "ModuleItemRow ItemOdd";
								var presentation;
								var presentations=[];
								var pressRelease;
								var pressReleases=[];
								
								$.each(value.EventPresentation, function(index,valoare){
									var press = '<li class="DocPresentationItem"><span class="'+(valoare.DocumentFileType!=null?valoare.DocumentFileType:'html')+'Icon"></span><a href="'+valoare.DocumentPath+'" target="_blank">'+valoare.Title+'</a></li>';
									presentations.push(press);
								});
								
								$.each(value.EventPressRelease, function(index,valoare){
									var press = '<li class="DocPressReleaseItem"><span class="'+(valoare.DocumentFileType!=null?valoare.DocumentFileType:'html')+'Icon"></span><a href="'+(valoare.DocumentFileType!=null?valoare.DocumentPath:valoare.LinkToDetailPage)+'" target="_blank">'+valoare.Headline+'</a></li>';
									pressReleases.push(press);
								});
								
								var webcast = '';
								if (value.WebCastLink.length)
									webcast = '<ul class="WebcastList"><li class="DocWebcastItem"><span class="WebcastIcon"></span><a href="'+value.WebCastLink+'" target="_blank">Webcast</a></li></ul>';
								
								if (presentations.length)
									presentation = $('<ul />', {html:presentations.join(''),"id":"PresentationList","class":"PresentationList"});
								if (pressReleases.length)
									pressRelease = $('<ul />', {html:pressReleases.join(''),"id":"PressReleaseList","class":"PressReleaseList"});
								
								
								var datePost  = function(date){
									return $.datepicker.formatDate('MM dd,yy ', new Date(date));
								};

								eventsItems+='<div class="'+eventsItemRow+'">';
								eventsItems+='<div class="LeftList"><span class="ModuleDate"><strong>'+datePost(value.StartDate)+'</strong></span></div>';
								eventsItems+='<div class="RightList"><a href="'+value.LinkToDetailPage+'" class="ModuleHeadlineLink" target="_blank">'+value.Title+'</a>';
								eventsItems+='<div class="DocumentsList">';
								if (presentations.length)
									eventsItems+=presentation.html();
								if (pressReleases.length)
									eventsItems+=pressRelease.html();
								eventsItems+=webcast;
								eventsItems+='<a href="'+value.LinkToDetailPage+'" class="HTML"></a>';
								eventsItems+='</div>';
								eventsItems+='</div></div>';

							});

							if(eventsItems.length){
								$this.find('.EventsListContainer').html(eventsItems);
							}
							else{
								$this.find('.EventsListContainer').html('No items found this year');	
							}

						},

						
	                };
					EventsObject.getYears();
	            });
	        }
	    });  
	})(jQuery);

	$(document).ready(function(){
		$('.PastEvents .EventsContainer').Q4Events({
			tags:["earnings","conferences"]
		});
	});
</script>

<!-- Year Dropdown Container -->
<div id="ModuleYearNavContainer"></div>
<!-- Tags Tabs Container-->
<div class="ModuleTagsContainer tabLinks"></div>

<!-- Events Container -->
<div class="EventsContainer">


</div>

<!-- Pagination 
<div class="PaginationCont">
	<span class="showing"></span>
	<ul class="pageNum"></ul>
	<span class="controls">
		<span class="Prev">Previous</span>
		<span class="Spacer">|</span>
		<span class="Next">Next</span>
	</span>
</div>
-->