<script type="text/javascript">
	(function($){
	    $.fn.extend({        
	        Q4News: function(options) {
	            var defaults = {
	                tags:[],
					itemsPerPage:3,
					otherCategory:0
	            };
	            var itemsPerPage = 3;     
	            var currentPage = 1;
				var CategoryWorkflowId = "4a0b5c9b-b75d-4044-90bf-b881d4e82bdb";
	            var options =  $.extend(defaults, options);
	 
	            return this.each(function() {
	                var o = options;
	                var $this  = $(this);
					var $parent = $(this).parent();
					var PressCategory = "00000000-0000-0000-0000-000000000000";
					if (o.otherCategory == 1)
						PressCategory = CategoryWorkflowId;
	                var NewsObject = {
	            		serviceData: {
		                	serviceDto: {
		                		ViewType: GetViewType(),
		                        ViewDate: GetViewDate(),
		                        RevisionNumber: GetRevisionNumber(),
		                        LanguageId: GetLanguageId(),
		                        ItemCount:o.itemsPerPage,
		                        StartIndex:0,
		                        Signature: GetSignature()
		                	},
						pressReleaseCategoryWorkflowId: PressCategory,
						pressReleaseBodyType: 3 
	            		},

					    getNewsYears:function(){	
					    	var inst = this,
					    		dataPost = this.serviceData;

				    		$.ajax({
				       			type: "POST",
						      	url: "/Services/PressReleaseService.svc/GetPressReleaseYearList",
						        data: JSON.stringify(dataPost),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	var years = [];
									var firstYear = -1;
						        	$.each(data.GetPressReleaseYearListResult, function(index, value){
										if (index == 0)
											firstYear = value;
						        		var classname = index==0 ? 'class="selected"' : '';
						        		years.push('<li '+classname+'><a href="year'+value+'" onclick="return false;">'+value+'</a></li>');
						        	});
									
									//$('<span class="year">Year: </span>').appendTo('.ModuleYearNavContainer');
						        	var $list = $('<ul />', {html:years.join(''),"id":"NewsYears"}).appendTo($parent.find('.ModuleYearNavContainer'));
						        	//$('<div />', {"class":"NewsListHeader"}).appendTo($this);
						        	$('<div />', {"class":"NewsListContainer"}).appendTo($this);
									//$this.find('.NewsListHeader').html('<span id="newsHeader" class="ModuleHeader">All Releases</span>');

						        	inst.extraParam.year = firstYear;
									//todo check the last year
						        	inst.getNewsList();

						        	$parent.find('ul#NewsYears').find('a').on('click',function(event){
										inst.serviceData.serviceDto.StartIndex = 0;	
										var link = $(this).attr('href');
										$parent.find('#NewsYears li').removeClass('selected');
										inst.extraParam.year = parseInt(link.substring(4));
										$(this).parent().addClass('selected');
										currentPage = 1;
						        		inst.getNewsList();
						        	});
						        },
						        error:function(data){
						        	console.log('get years error' + data)
						        }
						    });
					    },

					    extraParam:{
					    	pressReleaseSelection: 3,
					    },

					    getNewsList:function(){
					    	var inst = this;
							var extraParam = $.extend(inst.serviceData, inst.extraParam);
					    	$.ajax({
				       			type: "POST",
						      	url: "/Services/PressReleaseService.svc/GetPressReleaseList",
						        data: JSON.stringify(extraParam),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	inst.parseNewsList.call(this, data, extraParam, inst)
						        },
						        error:function(data){
						        	console.log('get news list error' + data)
						        }
						    });
							inst.getNewsCount();
					    },

					    parseNewsList:function(data, param, inst){

							var newsItems = '';

							$.each(data.GetPressReleaseListResult, function(index, value){
								var NewsItemRow = index%2 ? "ModuleItemRow ModuleItemAlt" : "ModuleItemRow";
								
								
								var datePost  = function(date){
									return $.datepicker.formatDate('dd/mm/yy ', new Date(date));
								};

								newsItems+='<div class="'+NewsItemRow+'">';
								newsItems+='<span class="ModuleDate">'+datePost(value.PressReleaseDate)+'</span>';
								newsItems+='<a href="'+value.LinkToDetailPage+'" class="ModuleHeadlineLink">'+value.Headline+'</a>';
								newsItems+='<span class="ItemRowArrow"></span>';
								newsItems+='</div>';

							});

							if(newsItems.length){
								$this.find('.NewsListContainer').html(newsItems);
							}
							else{
								$this.find('.NewsListContainer').html('No items found this year');	
							}

							$('.shortBodyToggle').click(function(){
								$(this).toggleClass('active').parent().next().toggle();
							}); 

						},

						getNewsCount : function(){	
					    	var inst = this;
					    	var extraParam = $.extend(inst.serviceData, inst.extraParam);

					    	$.ajax({
				       			type: "POST",
						      	url: "/Services/PressReleaseService.svc/GetPressReleaseListCount",
						        data: JSON.stringify(extraParam),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	var i, html;
						        	var num = data.GetPressReleaseListCountResult;
						        	inst.newsCount  = parseInt(num);
						        	var shows = inst.newsCount>itemsPerPage?(inst.serviceData.serviceDto.StartIndex+itemsPerPage>=inst.newsCount)?num:inst.serviceData.serviceDto.StartIndex+itemsPerPage:num;
						        	var pages = Math.ceil(inst.newsCount/itemsPerPage);
						        	var pageArr = [];
						        	var lastNum = parseInt($parent.find('.pageNum li:last a').text());

						        	$parent.find('.PaginationCont span.showing').html('<p class="PaginNumbers">Showing '+(inst.serviceData.serviceDto.StartIndex+1)+'-'+shows+' of '+num+'</p>');

						        	pageArr.push("<li>Page:</li>");
						            pageArr.push("<li><a href='#'>1</a></li>");

							        //Build 4 numbers before the current page with ...
							        if (currentPage >=6){
							        	pageArr.push("<li class='spacer'>...</li>");
							        	for (i=currentPage-4; i<currentPage+1; i++){
							                pageArr.push("<li><a href='#'>"+i+"</a></li>");
							            }
							        }
							        //Build numbers before current page without ...
							        else {
						        		for (i=2; i<currentPage+1; i++){
						                	pageArr.push("<li><a href='#'>"+i+"</a></li>");	
							        	}
							        }

						        	//Build 4 numbers after the current page (excludes 1)
						        	if (currentPage+5 < pages){
							        	for (i=currentPage+1; i<currentPage+5; i++){
								            pageArr.push("<li><a href='#'>"+i+"</a></li>");
								        }
							        }

							        //Stop making numbers > last page
							        else {
							        	for (i=currentPage+1; i<pages; i++){
								            pageArr.push("<li><a href='#'>"+i+"</a></li>");
								        }
							        }
							        
							        if (currentPage < pages-5){
							            pageArr.push("<li class='spacer'>...</li>");
						            }

						            if (currentPage != pages){
							            pageArr.push("<li><a href='#'>"+pages+"</a></li>");
							        }

						            html = pageArr.toString();
						            $parent.find('.PaginationCont .pageNum').html(html.replace(/,/g, ''));
						            $parent.find('.PaginationCont .pageNum li a:contains('+currentPage+'):first').parent().html(currentPage);

						            $parent.find('.PaginationCont .pageNum li:not(":first")').not('.spacer').click(function(event){
						            	event.preventDefault();
						            	currentPage = parseInt($(this).text());
						            	var number = $(this).text()-1;
						            	inst.serviceData.serviceDto.StartIndex = number*itemsPerPage;
					        			inst.getNewsList();
						            });

						            //Next | Prev Functionality
						            if (currentPage == 1){$parent.find('.PaginationCont .Prev, .Spacer').hide();}
						            else {$parent.find('.Prev, .Spacer').show();}

						            if (currentPage == lastNum){$parent.find('.PaginationCont .Next, .Spacer').hide();}
						            else if (currentPage > 1){$parent.find('.PaginationCont .Next, .Spacer').show();}
						            else  {$parent.find('.PaginationCont .Next').show();}

						            $parent.find('.PaginationCont .controls .Next').unbind('click').click(function(event){
						            	event.preventDefault();
						            	lastNum = parseInt($('.pageNum li:last a').text());
						            	if (currentPage < lastNum){
							            	inst.serviceData.serviceDto.StartIndex = currentPage*itemsPerPage;
						        			inst.getNewsList();
							            	currentPage += 1;
						            	}
						            });

									$parent.find('.PaginationCont .controls .Prev').unbind('click').click(function(event){
						            	event.preventDefault();
										
						            	if (currentPage > 1){
							            	//var PrevPage = Math.round((shows/10)-2);
							            	currentPage -= 1;
							            	inst.serviceData.serviceDto.StartIndex = (currentPage-1)*itemsPerPage;
						        			inst.getNewsList();
							            }
						            });   
						        },
						        error:function(data){
						        	console.log('Count news error' + data);
						        }
						    });
					    }
	                };
					
	               	NewsObject.getNewsYears();
	                // NewsObject.newsPagination();
	            });
	        }
	    });  
	})(jQuery);

	$(document).ready(function(){
		$('.NewsWidgetScript #newsContainer').Q4News({
			tags:[]
		});
	});
</script>

<div class="ModuleYearNavContainer">

</div>
<div class="PaginationCont">
	<span class="controls">
		<span class="Prev">Previous</span>
		<span class="Spacer">|</span>
		<span class="Next">Next</span>
	</span>
	<div class="pageNum" style="display:none"></div>
</div>
<div id="newsContainer"></div>
