<script type="text/javascript">
(function($){
	var init = 0;
    $.fn.extend({
        Q4News: function(options) {
            var defaults = {
                tags:[
                    'other',
                    'malaria',
                    'leukemia',
                    'influenza',
                    'hiv',
					'hepatitis',
					'cancer',
					'corpfin',
					'electroporation',
                ],
				itemsPerPage:25,
				currentPage:1,
				init:0
            };
			var filters = { category :'',keywords:'',from_month:'',from_day:'',from_year:0,to_month:'',to_day:'',to_year:0,year:0,changed:0,manualPag:0};
            var opts =  $.extend(defaults, options);

            return this.each(function() {
                var o = opts;
                var $this  = $(this);
				var $parent = $(this).parent();
                var $filters = $('.NewsFilters');

                var NewsObject  = {

                    serviceData : {
                        serviceDto:{
                            ViewType: GetViewType(),
                            ViewDate: GetViewDate(),
                            RevisionNumber: GetRevisionNumber(),
                            LanguageId: GetLanguageId(),
                            ItemCount:o.itemsPerPage,
                            StartIndex:0,
                            Signature: GetSignature(),
                            IncludeTags: true,
                            TagList: []
                        },
						PressReleaseBodyType:3,
						eventSelection:2
                    },
					formReset:function(){
						var inst = this;
						filters.category='';
						filters.keywords='';
						filters.to_year=0;
						filters.to_month=0;
						filters.to_day=0;
						filters.from_year=0;
						filters.from_month=0;
						filters.from_day=0;
						filters.changed=0;
						filters.manualPag = 0;
						var srch = $('.SearchForm');
						srch.find('select[name="category"]').val('');
						srch.find('input[type="text"]').val('');
						inst.extraParam.selectedTag = '';
						inst.extraParam.fromDate= '';
						inst.extraParam.toDate = '';
						inst.extraParam.start
						$('.toFilter select.day option[value="31"]').attr('selected',true);
						$('.fromFilter select.year option[value="2002"]').attr('selected',true);
						o.currentPage = 1;
					},
                    getTagList:function(){
                        var inst = this;
                        var tags = [];

                        
                        var $selectbox  = $('select[name="category"]');

                        $selectbox.change(function(){
                            var $val = $(this).val();
                            filters.category = $val;
                        });
                    },
                    getNewsYears:function(){
                        var inst = this;

                        $.ajax({
                            type: "POST",
                            url: "/Services/PressReleaseService.svc/GetPressReleaseYearList",
                            data: JSON.stringify(inst.serviceData),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success:function(data){
                                var years = [];
                                var liYears = [];
                                var toYears = [];
                                var d = new Date().getMonth();
                                var months = [
                                    '<option value="0">Jan</option>',
                                    '<option value="1">Feb</option>',
                                    '<option value="2">March</option>',
                                    '<option value="3">April</option>',
                                    '<option value="4">May</option>',
                                    '<option value="5">June</option>',
                                    '<option value="6">July</option>',
                                    '<option value="7">Aug</option>',
                                    '<option value="8">Sept</option>',
                                    '<option value="9">Oct</option>',
                                    '<option value="10">Nov</option>',
                                    '<option value="11">Dec</option>'
                                ].join('');
								var days =[];
								for (var i = 1;i<=31;i++)
									days.push('<option value="'+i+'">'+i+'</option>');
									
                                $.each(data.GetPressReleaseYearListResult, function(index, value){
                                    var year = index === 0 ? liYears.push('<li class="active"><span class="Separator">/</span>'+value+'</li>') : liYears.push('<li><span class="Separator">/</span>'+value+'</li>');
                                    years.push('<option value="'+value+'">'+value+'</option>');
                                });

                                var selects = [
                                    '<div class="FilterContainer">',
                                        '<div class="fromFilter">',
                                            '<label>From: </label>',
                                            '<select>'+months+'</select>',
											'<select class="day">'+days.join('')+'</select>',
                                            '<select class="year">'+years.join('')+'</select>',
                                        '</div>',
                                        '<div class="toFilter">',
                                            '<label>To:</label>',
                                            '<select>'+months+'</select>',
											'<select class="day">'+days.join('')+'</select>',
                                            '<select class="year">'+years.join('')+'</select>',
                                        '</div>',
                                    '</div>'
                                ].join('');
                                var $yeartabs  = $('<ul/>', {'class':'yearList', html:liYears.join('')}).appendTo($('.yearTabs'));
								$('.yearTabs').prepend('<span class="yearTitle">Archives: <strong>Search</strong></span>');
                              
                                $('.form .formYears').append(selects);
                                $('.form .formYears').find('.toFilter select:first').val(d);

								$('.toFilter select.day option[value="31"]').attr('selected',true);
								$('.fromFilter select.year option[value="2002"]').attr('selected',true);
								
                                inst.extraParam.year = data.GetPressReleaseYearListResult[0];
								
                                inst.getNewsList();
                               

                                $('.yearTabs li').on('click',function(){
                                    var $li = $(this);
                                    if(!$li.hasClass('active')){
                                        $li.parent().find('li').removeClass('active');
                                        $li.addClass('active');
                                      	inst.serviceData.serviceDto.StartIndex=0;
										inst.serviceData.serviceDto.TagList=[];
										inst.extraParam.year  = parseInt($li.text().substring(1));
                                        inst.getNewsList();
										inst.formReset();
									}
                                });
								
								$parent.find('.fromFilter select,.toFilter select').change(function()
								{
									if (jQuery(this).parent().hasClass('fromFilter'))
										filters.from_year = jQuery(this).val();
									else
										filters.to_year = jQuery(this).val();
									filters.changed = 1;
									filters.manualPag = 1;
								});
								
                            },
                            error:function(data){
                                console.log('get years error' + data);
                            }
                        });
                    },

                    extraParam:{
                        pressReleaseSelection: 3,
						showNews: true,
                        selectedTag: '',
						fromDate:'',
						toDate:''
                    },
					getInitNewsList:function()
					{
						var inst = this;
                        var extraParam = $.extend(inst.serviceData, inst.extraParam);
                     
						inst.serviceData.serviceDto.ItemCount = 15;
                        $.ajax({
                            type: "POST",
                            url: "/Services/PressReleaseService.svc/GetPressReleaseList",
                            data: JSON.stringify(extraParam),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success:function(data){
								data.init=1;
                                inst.parseNewsList.call(this, data, extraParam, inst);
                            },
                            error:function(data){
                                console.log('get news list error' + data);
                            }
                        });
					},
                    getNewsList:function(){
                        var inst = this;
                        var extraParam = $.extend(inst.serviceData, inst.extraParam);
                        $parent.find('.loading').show();
                        $.ajax({
                            type: "POST",
                            url: "/Services/PressReleaseService.svc/GetPressReleaseList",
                            data: JSON.stringify(extraParam),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success:function(data){
                                inst.parseNewsList.call(this, data, extraParam, inst);
                            },
                            error:function(data){
                                console.log('get news list error' + data);
                            }
                        });
                    },

                    parseNewsList:function(data, param, inst){

                        var newsItems = [];
						var content;
                        var $fromYear = filters.from_year;
                        var $toYear = filters.to_year;
                        var $fromMonth =  parseInt($parent.find('.fromFilter select:first').val(), 10)+1;
                        var $toMonth = parseInt($parent.find('.toFilter select:first').val(),10)+1;
						var $fromDay = parseInt($parent.find('.fromFilter select.day').val());
						var $toDay = parseInt($parent.find('.toFilter select.day').val());
                        var from = new Date($fromMonth+'/'+$fromDay+'/'+$fromYear);
                        var to = new Date(($toMonth+1)+'/'+$toDay+'/'+$toYear);
						var total = 0;
						var hidden = '';
						 var datePost  = function(date){
                                return $.datepicker.formatDate('mm/dd/yy', new Date(date));
                            };
						
						
                        $.each(data.GetPressReleaseListResult, function(index, value){
							hidden = total>24?'id="NItem'+index+'" style="display:none"':'id="NItem'+index+'"';
                            date = datePost(value.PressReleaseDate);
                            current = new Date(date);
                            newLink = value.LinkToDetailPage.indexOf('pdf') > 0 ? 'target="_blank"': '';
							
							if (filters.changed)
							{
								if (current < from || current > to)
									return;
							}
							
							if (typeof inst.extraParam.selectedTag != "undefined" && inst.extraParam.selectedTag.length)
							{
								if (value.Headline.toLowerCase().indexOf(inst.extraParam.selectedTag) > -1)
								{
									content = [
										'<div '+hidden+' class="NewsItemRow">',
											'<span class="newsDate">'+date+'</span>',
											'<a '+newLink+' href="'+value.LinkToDetailPage+'" class="newsTitle">'+value.Headline+'</a>',
											'<div class="NewsItemBody">'+(value.ShortBody!=null?value.ShortBody:'')+'</div>',
										'</div>'
									].join('');
								}
							}
							else
							{
								content = [
                                '<div class="NewsItemRow" '+hidden+'>',
                                    '<span class="newsDate">'+date+'</span>',
                                    '<a '+newLink+' href="'+value.LinkToDetailPage+'" class="newsTitle">'+value.Headline+'</a>',
									'<div class="NewsItemBody">'+(value.ShortBody!=null?value.ShortBody:'')+'</div>',
                                '</div>'
								].join('');
							}
                     
									if (content != newsItems[newsItems.length-1])
									{
                                        newsItems.push(content);
										total++;
									}
                     
                        });
						
                        $parent.find('.loading').hide();
                        if (newsItems.length){
                            $this.html('<div class="NewsHeader"><span class="newsDate">Date</span><span class="newsTitle">Title</span></div>').append(newsItems.join(''));
							inst.getNewsCount(total);
						} else {
                            $this.html('<div class="NoItems">No Items Available</div>');
							$('.PaginationCont').hide();
                        }
                    },
					 getNewsCount : function(total){
						var inst = this;
						var extraParam = $.extend(inst.serviceData, inst.extraParam);
						if (!$('.PaginationCont').is(":visible"))// it might be hidden by No Items Available
							$('.PaginationCont').show(); 
						$.ajax({
							type: "POST",
							url: "/Services/PressReleaseService.svc/GetPressReleaseListCount",
							data: JSON.stringify(extraParam),
							contentType: "application/json; charset=utf-8",
							dataType: "json",
							success:function(data){
								
								var i, html;
								var num = filters.manualPag?total:data.GetPressReleaseListCountResult;
								if (init == 0)
								{
									num = 15;
									init = 1;
								}
								var num_parsed = parseInt(num, 10);
								var shows = num_parsed>o.itemsPerPage?(inst.serviceData.serviceDto.StartIndex+o.itemsPerPage>=num_parsed)?num:inst.serviceData.serviceDto.StartIndex+o.itemsPerPage:num;
								var pages = Math.ceil(num_parsed/o.itemsPerPage);
								var pageArr = [];
								var lastNum = pages;
								var ashows = inst.serviceData.serviceDto.StartIndex+1;
								
								if (filters.manualPag)
								{
									shows = o.itemsPerPage * o.currentPage ;
									ashows = shows - o.itemsPerPage + 1;
									if (num_parsed < shows )
										shows = num_parsed;
								}
								
								$('.PaginationCont span.showing').html('<p class="PaginNumbers">Showing '+ashows+'-'+shows+' of '+num+'</p>');

								
								//Next | Prev Functionality
								if (o.currentPage == 1){$('.Prev,.Spacer').hide();}
								else {$('.Prev,.Spacer').show();}

								if (o.currentPage == lastNum){$('.Next,.Spacer').hide();}
								else if (o.currentPage > 1 && num_parsed > o.itemsPerPage){$('.Next').show();}
								else if (num_parsed > o.itemsPerPage) {$('.Next').show();}
								else if (num_parsed <=o.itemsPerPage) {$('.Next').hide();}

								$('.controls .Next').unbind('click').click(function(event){
									event.preventDefault();
									lastNum = pages;
									if (o.currentPage < lastNum){
										if (filters.manualPag)
										{
											inst.serviceData.serviceDto.StartIndex = 0;
											inst.serviceData.serviceDto.ItemCount = -1;
											$('.NewsItemRow').hide();
											for (var i = o.itemsPerPage*o.currentPage ;  i<o.itemsPerPage*(o.currentPage+1) ;i++)
											{
												$('#NItem'+i).show();
											}
											inst.getNewsCount(total);
										}
										else
										{
											inst.serviceData.serviceDto.StartIndex = o.currentPage*o.itemsPerPage;
											inst.getNewsList();
										}
										o.currentPage += 1;
									}
								});

								$('.controls .Prev').unbind('click').click(function(event){
									event.preventDefault();
									if (o.currentPage > 1){
										o.currentPage -= 1;
										if (filters.manualPag)
										{
											inst.serviceData.serviceDto.StartIndex = 0;
											inst.serviceData.serviceDto.ItemCount = -1;
											$('.NewsItemRow').hide();
											for (var i = o.itemsPerPage*o.currentPage ;  i>o.itemsPerPage*(o.currentPage-1) ;i--)
											{
												$('#NItem'+i).show();
											}
											inst.getNewsCount(total);
										}
										else
										{
											inst.serviceData.serviceDto.StartIndex = (o.currentPage-1)*o.itemsPerPage;
											inst.getNewsList();
										}
									}
								});
							},
							error:function(data){
								console.log('Error' + data);
							}
						});
					},
					doSubmit:function()
					{
						 var inst = this;
						$('.form input.keywords').change(function()
						{
							filters.manualPag = 1;
						});
						 $('.form .submitItem input[type="submit"]').click(function(e){
							o.currentPage = 1;
							if (filters.category != "")
								inst.serviceData.serviceDto.TagList=[filters.category];
							else
								inst.serviceData.serviceDto.TagList = [];
							
							var filter = $parent.find('.keywords').val();
							inst.extraParam.selectedTag = filter;
							
							
							filters.from_year = parseInt($('.fromFilter select.year').val());
							filters.to_year  = parseInt($('.toFilter select.year').val());
							
							
							if (filters.from_year != 0 && filters.from_year == filters.to_year)
								inst.extraParam.year = filters.from_year;
							else
								inst.extraParam.year = -1;
							
							//pagination reasons
							if (filters.manualPag)
							{
								inst.serviceData.serviceDto.StartIndex = 0;
								inst.serviceData.serviceDto.ItemCount = -1;
							}
							inst.getNewsList();
							
							e.preventDefault();
						});
					}
                };
				if (init == 0)
				{
					NewsObject.getInitNewsList();
				}
				else
				{
					NewsObject.getTagList();
					NewsObject.getNewsYears();
					NewsObject.doSubmit();
					
				}
            });
        }
    });
})(jQuery);
$(function(){
    $('.NewsItems').Q4News();
	$('.search_releases').click(function()
	{
			$('.NewsItems').Q4News();
			$('.SearchForm').fadeIn();
			$(this).hide();
	});
});
</script>

<div class="SearchButtonToggle">
<span class="btn btn1 search_releases">Search News Releases</span>
<div class="SearchForm" style="display:none;">
	<div class="yearTabs">
	</div>
	<div class="form">
		<div class="formItem">
			<label>Category:</label>
			<div class="formInput">
				<select name="category"><option value="">All</option>
					<option value="cancer">Cervical Dysplasia/Cancer</option>
					<option value="corpfin">Corporate/Financial</option>
					<option value="electroporation">Electroporation Devices </option>
					<option value="hepatitis">Hepatitis</option>
					<option value="hiv">HIV</option>
					<option value="influenza">Influenza</option>
					<option value="leukemia">Leukemia</option>
					<option value="malaria">Malaria</option>
					<option value="other">Other Diseases</option>
				</select>
			</div>
		</div>
		<div class="formItem">
			<label>Keywords:</label>
			<div class="formInput"/>
				<input type="text" name="keywords" class="keywords" />
			</div>
		</div>
		<div class="formItem formYears">
		
		</div>
		<div class="formItem submitItem">
			<input type="submit" value="Search" class="Submit">
		</div>

	</div>
</div>

<div class="loading" style="display:none"><img src="/files/images/ajax-loader.gif" alt="" />loading...</div>

<div class="NewsItems"></div>
</div>

<div class="PaginationCont">
<span class="showing"></span>
<span class="controls">
    <span class="Prev">Previous 25</span>
    <span class="Spacer">|</span>
    <span class="Next">Next 25</span>
</span>
<ul class="pageNum" style="display:none;"></ul>
</div>