<script type="text/javascript" src="https://raw.github.com/rmm5t/jquery-timeago/master/jquery.timeago.js"></script>
<script type="text/javascript">

(function($){
	    $.fn.extend({   
			Q4Social:function(options) {
			
				var defaults = { 
					limit:10
				};
				var opts =  $.extend(defaults, options);
				
				return this.each(function() {
					var o = opts;
					var $this  = $(this);
					var $parent = $(this).parent();
					var socials = [];
					var users = [];
					var init = 0;
					var SocialObject = {
						
						initialRequest:function(social,userId)
						{
							var inst = this;
							
							$.ajax({
								type: "GET",
								url: "http://q4staging.herokuapp.com/socialstream",
								data:"callback=?&limit="+o.limit+(social != ""?"&social="+social:"")+(userId != ""?"&userId="+userId:""),
								dataType: "jsonp",
								success:function(data){
									if (init == 0)
									{
										inst.parseInitialList.call(this, data, inst);
										inst.parseList.call(this, data, inst);
										init = 1;
									}
									else
										inst.parseList.call(this, data, inst);
								},
								error:function(data){
									console.log('get initial list error' );
									console.log(data);
								}
							});
						},
						parseInitialList:function(data,inst)
						{
							
							var list_socials = ['<li class="SocialItemList selected" rel="">All</li>'];
							var list_users = ['<li class="SocialItemList selected" rel="">All</li>'];
							$.each(data,function(index,value)
							{
								if ($.inArray(value.social,socials) < 0)
								{
									list_socials.push('<li class="SocialItemList" rel="'+value.social+'"><span class="'+value.social+'">'+value.social+'</span></li>');
									socials.push(value.social);
								}
								if ($.inArray(value.name,users) < 0)
								{
									list_users.push('<li class="UserItemList" rel="'+value.userId+'">'+value.name+'</li>');
									users.push(value.name);
								}
							});
							
							var ls = $('<ul />',{'class':'SocialList',html:list_socials.join('')}).appendTo('.SocialListContainer');
							var lu = $('<ul />',{'class':'UserList',html:list_users.join('')}).appendTo('.UserListContainer');
							
							ls.find('li').on('click',function(event){
								event.preventDefault();
								var rel = $(this).attr('rel');
								$this.find('.SocialList li').removeClass('selected');
								$(this).addClass('selected');
								var relu = $this.find('.UserList li.selected').attr('rel');
								inst.initialRequest(rel,relu);
							});
							
							lu.find('li').on('click',function(event){
								event.preventDefault();
								var rel = $(this).attr('rel');
								$this.find('.UserList li').removeClass('selected');
								$(this).addClass('selected');
								var relu = $this.find('.SocialList li.selected').attr('rel');
								inst.initialRequest(relu,rel);
							});
							
						},
						parseList:function(data,inst)
						{
							var items = '';
							var itemDate;
							$.each(data,function(index,value)
							{
								itemDate = new Date(value.date);
								//console.log(itemDate.getTime());
								items +='<div class="ContentItem">';
								items += '<div class="TopItemContent"><span class="Thumb"><img src="'+value.thumbnail+'" /></span><span class="Title">'+value.name+'</span></div>';
								items += '<div class="ItemContent">'+value.content+'</div>';
								items += '<div class="BottomItemContent"><span class="Date">'+jQuery.timeago(itemDate)+'</span><span class="Icon '+value.social+'"></span></div>';
								items +='</div>';
							});
							
							$this.find('.Content').html(items);
						}
						/*
						dateHelper:function(unix_timestamp) {
							  var difference_in_seconds = (Math.round((new Date()).getTime() / 1000)) - unix_timestamp,
								  current_date = new Date(unix_timestamp * 1000), minutes, hours,
								  months = new Array(
									'January','February','March','April','May',
									'June','July','August','September','October',
									'November','December');
							  
							  if(difference_in_seconds < 60) {                                  
								return difference_in_seconds + " second" + _plural(difference_in_seconds) + " ago";
							  } else if (difference_in_seconds < 60*60) {
								minutes = Math.floor(difference_in_seconds/60);
								return minutes + " minute" + _plural(minutes) + " ago";
							  } else if (difference_in_seconds < 60*60*24) {
								hours = Math.floor(difference_in_seconds/60/60);
								return hours + " hour" + _plural(hours) + " ago";
							  } else if (difference_in_seconds > 60*60*24){
								if(current_date.getYear() !== new Date().getYear()) 
								  return current_date.getDay() + " " + months[current_date.getMonth()].substr(0,3) + " " + _fourdigits(current_date.getYear());
								
								return current_date.getDay() + " " + months[current_date.getMonth()].substr(0,3);
							  }
							  
							  return difference_in_seconds;
							  
							  function _fourdigits(number)	{
									return (number < 1000) ? number + 1900 : number;}

							  function _plural(number) {
								if(parseInt(number) === 1) {
								  return "";
								}
								return "s";
							  }
						}*/
					};
					
					SocialObject.initialRequest('','');
					
				});
			}
		})
})(jQuery);

jQuery(document).ready(function($){
	$('.zepSocial').Q4Social({limit:40});
});

</script>

<div class="ContainerList">
	<div class="SocialListContainer"></div>
	<div class="UserListContainer"></div>
	<div class="Content"></div>
</div>