<script type="text/javascript">
	(function($){
	    $.fn.extend({ 
	         
	        Q4Financials: function(options) {
	            var defaults = {
	                tags:[]
	            };     
	            var options =  $.extend(defaults, options);
	 
	            return this.each(function() {
	                var o = options;
	                var $this  = $(this);

	                var NewsObject  = {

                		serviceData : {
			                serviceDto: {
	                            ViewType: GetViewType(),
	                            ViewDate: GetViewDate(),
	                            RevisionNumber: GetRevisionNumber(),
	                            LanguageId: GetLanguageId(),
	                            Signature: GetSignature(),
	                            TagList: [ ],
	                            //IncludeTags: true,
								ItemCount: o.ItemCount
	                        },
							reportSubType:['First Quarter','Second Quarter','Third Quarter','Fourth Quarter'],
	                        reportSubTypeList: ['First Quarter','Second Quarter','Third Quarter','Fourth Quarter']
                		},

					    getNewsYears:function(){	
					    	var inst = this,
					    		dataPost = this.serviceData;

				    		$.ajax({
				       			type: "POST",
						      	url: "/Services/FinancialReportService.svc/GetFinancialReportYearList",
						        data: JSON.stringify(dataPost),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	var years = [];
						        	$.each(data.GetFinancialReportYearListResult, function(index, value){
						        		var classname = index==0?'class="selected"':'';
						        		years.push('<option value='+value+'>'+value+'</option>');
						        	})

									$this.parent().find('.dropdowns').append('<span class="year">Year:</span>');
						        	$('<select />', {html:years.join(''),"id":"NewsYears"}).appendTo($this.parent().find('.dropdowns'));

						        	inst.extraParam.year = data.GetFinancialReportYearListResult[0];
						        	inst.getNewsList();

						        	$this.parent().find('#NewsYears').change(function(event){
						        		inst.serviceData.serviceDto.StartIndex = 0;	
						        		var link  = $(this);
						        		inst.extraParam.year = parseInt(link.val());
						        		inst.getNewsList();
						        	});

						        },
						        error:function(data){
						        	console.log('get years error' + data)
						        }
						    });
					    },

					    extraParam:{
					    	reportSubTypeList: ['First Quarter','Second Quarter','Third Quarter','Fourth Quarter']
					    },

					    getNewsList:function(){
					    	var inst = this;
							var extraParam = $.extend(inst.serviceData, inst.extraParam);

					    	$.ajax({
				       			type: "POST",
						      	url: "/Services/FinancialReportService.svc/GetFinancialReportList",
						        data: JSON.stringify(extraParam),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	inst.parseNewsList.call(this, data, extraParam, inst)
						        },
						        error:function(data){
						        	console.log('get news list error' + data)
						        }
						    });
					    },

					    parseNewsList:function(data, param, inst){
					    	var newsItems = [];
					    	var inst = this;
							var YearArray  = [];

							$this.find('.FinancialReportContainer').remove()

							$.each(data.GetFinancialReportListResult, function(i, val){
							var ReportType  = val.ReportSubType;
								
								if(ReportType !='Annual Report' && ReportType !='Supplemental Report') {
									
									var ReportTitleYear = val.ReportTitle.split(' ').pop(),
									DocumentRlative = val.Documents[0],
									Documents = [],
									otherDocs = [],
									categoryArray  = [];
									
									
									$.each(val.Documents, function(item, doc){
									    var categoryItem = doc.DocumentCategory;
										var firstItem = '';
										var Rep = val.ReportDate.split(" "), dateRep = Rep[0];
										var icon = doc.IconPath != null ? '<img src="'+doc.IconPath+'">' : '';
										console.log(categoryItem);
										if($.inArray(categoryItem, categoryArray ) ==-1){
										categoryArray.push(categoryItem);
										firstItem = 'first'
										}
										
										if (firstItem != 'first')
										{
											otherDocs.push(categoryItem);
											otherDocs.push('<a href="'+doc.DocumentPath+'" class="icon">'+icon+'</a>');
											//return;
										}
										
										var size = doc.DocumentFileSize !==null?'<span class="size">'+doc.DocumentFileSize+'</span>':'';
										var docContent 	 = '<tr class="'+firstItem+'">';
											docContent	+= '<td>'+dateRep+'</td>' 
											docContent	+= '<td><span class="'+doc.DocumentFileType+'">' + doc.DocumentTitle + '</span></td>';
											docContent  += '<td class="'+categoryItem+'"><a href="'+doc.DocumentPath+'" class="icon">'+icon+'</a></td></tr>';
										Documents.push(docContent);
									});
									
									var quarter = val.ReportTitle.split(" ");

									switch (quarter[0]){
										case "First":
										quarter = "Q1"
										break;
										case "Second":
										quarter = "Q2"
										break;
										case "Third":
										quarter = "Q3"
										break;
										case "Fourth":
										quarter = "Q4"
										break;
									}

									var content = '<div class="FinancialItem"><span class="expand"></span>';
									content+='<h3 class="FinancialQuarter">'+quarter+' '+ReportTitleYear+'</h3>';
									content+='<div class="DocumentInfo"><table><tr><td>Date</td><td>Document</td><td>Download</td></tr>'+Documents.join('')+'</table></div>';
									content+='</div>';
									for ( var i = 0; i < otherDocs.length ; i+=2)
									{
										//$('td.'+otherDocs[i]).append(otherDocs[i+1]);
									}
									console.log(otherDocs);
									if($.inArray( ReportTitleYear, YearArray ) ==-1){
										YearArray.push(ReportTitleYear);
										$this.append('<div class="FinancialReportContainer '+ReportTitleYear+'"></div>');
									}	
									
									$this.find('.FinancialReportContainer:last').append(content);
									
								}
							});
					    }
	                };
	               	NewsObject.getNewsYears();
	            });
	        }
	    });
	     
	})(jQuery);

$(function(){
	$('#Financials').Q4Financials();

        $('#Financials').ajaxComplete(function() {
			$('.FinancialReportContainer .FinancialItem .DocumentInfo').hide();
			$('.FinancialReportContainer .FinancialItem .DocumentInfo').first().show();
			$('.FinancialReportContainer .FinancialItem > span.expand').first().addClass('active');
            $('.FinancialReportContainer .FinancialItem > h3').click(function() {
		if($(this).hasClass('active')) {
			$('.FinancialReportContainer .FinancialItem > h3').removeClass('active');
			$('.FinancialReportContainer .FinancialItem  > span.expand').removeClass('active');
			$('.FinancialReportContainer .FinancialItem .DocumentInfo').slideUp();
		} else {
			$('.FinancialReportContainer .FinancialItem > h3').removeClass('active');
			$('.FinancialReportContainer .FinancialItem  > span.expand').removeClass('active');
			$('.FinancialReportContainer .FinancialItem .DocumentInfo').slideUp();

			$(this).addClass('active');
			$(this).parent().find('span.expand').addClass('active');
			$(this).next().slideDown();
		}
	    });

        });
});
</script>
<div class="dropdowns"></div>
<div id="Financials">
</div>