<script type="text/javascript">
	(function($){
	    $.fn.extend({        
	        Q4Events: function(options) {
	         
	 
	            return this.each(function() {
	              
	                var $this  = $(this);
					
	                var NewsObject = {
	            		serviceData: {
		                	serviceDto: {
		                		ViewType: GetViewType(),
								ViewDate: GetViewDate(),
								RevisionNumber: GetRevisionNumber(),
								LanguageId: GetLanguageId(),
								StartIndex: 0,
								ItemCount: 3,
								Signature: GetSignature()
		                	}
						},


					    getNewsList:function(){
					    	var inst = this;
					    	$.ajax({
				       			type: "POST",
						      	url: "/services/EventService.svc/GetEventList",
						        data: JSON.stringify(inst.serviceData),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	inst.parseNewsList.call(this, data, inst.serviceData, inst)
						        },
						        error:function(data){
						        	console.log('get news list error' + data)
						        }
						    });
					    },

					    parseNewsList:function(data, param, inst){

							var newsItems = '';

							$.each(data.GetEventListResult, function(index, value){
								var NewsItemRow = index%2 ? "ModuleItemRow ModuleItemAlt" : "ModuleItemRow";
								
								
								var datePost  = function(date){
									return $.datepicker.formatDate('dd/mm/yy ', new Date(date));
								};

								newsItems+='<div class="'+NewsItemRow+'">';
								newsItems+='<span class="ModuleDate">'+datePost(value.StartDate)+'</span>';
								newsItems+='<a href="'+value.LinkToDetailPage+'" class="ModuleHeadlineLink">'+value.Title+'</a>';
								newsItems+='<span class="ItemRowArrow"></span>';
								if (value.Body != "")
									newsItems+='<div class="ShortBody">'+value.Body.substring(0,200)+'...<span class="ReadMore"><a href="'+value.LinkToDetailPage+'">Read More</a></span></div>';
								newsItems+='</div>';

							});

							if(newsItems.length){
								$this.find('.NewsListContainer').html(newsItems);
							}
							else{
								$this.find('.NewsListContainer').html('No items found this year');	
							}

						}
	                };
					
	               	NewsObject.getNewsList();
	            });
	        }
	    });  
	})(jQuery);

	$(document).ready(function(){
		$('.PastEventsWidget').Q4Events();
		
	});
</script>


<div class="NewsListContainer">

</div>
