<script type="text/javascript">
	var view_all_link_financial = "http://google.com";

	(function($){
	    $.fn.extend({        
	        Q4Financial: function(options) {
	         
	 
	            return this.each(function() {
	              
	                var $this  = $(this);
					
	                var NewsObject = {
	            		serviceData: {
		                	serviceDto: {
		                		ViewType: GetViewType(),
								ViewDate: GetViewDate(),
								RevisionNumber: GetRevisionNumber(),
								LanguageId: GetLanguageId(),
								Signature: GetSignature(),
								StartIndex: 0,
								ItemCount: 5
		                	},
							 year: -1
						},


					    getFinancialList:function(){
					    	var inst = this;
					    	$.ajax({
				       			type: "POST",
						      	url: "/Services/FinancialReportService.svc/GetFinancialReportList",
						        data: JSON.stringify(inst.serviceData),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	inst.parseFinancialList.call(this, data, inst.serviceData, inst)
						        },
						        error:function(data){
						        	console.log('get news list error' + data)
						        }
						    });
					    },

					    parseFinancialList:function(data, param, inst){

							var newsItems = '';
							var counter = 0;
							var excluded = [];
							var datePost  = function(date){
										return $.datepicker.formatDate('dd/mm/yy ', new Date(date));
							};
							
							$.each(data.GetFinancialReportListResult, function(index, value){
								
								
								$.each(value.Documents,function(ind,doc){
							
									var NewsItemRow = index%2 ? "ModuleItemRow ModuleItemAlt" : "ModuleItemRow";
									
									
									if (counter < 5 && $.inArray(doc.DocumentTitle,excluded) < 0) {
										newsItems+='<div class="'+NewsItemRow+'">';
										newsItems+='<span class="ModuleDate">'+datePost(value.ReportDate)+'</span>';
										newsItems+='<a href="'+doc.DocumentPath+'" class="ModuleHeadlineLink" target="_blank">'+doc.DocumentTitle+'</a>';
										newsItems+='<span class="ItemRowArrow"></span>';
										//newsItems+='<div class="ShortBody">'+value.ShortBody.substring(0,200)+'...<span class="ReadMore"><a href="'+value.LinkToDetailPage+'">Read More</a></span></div>';
										newsItems+='</div>';
										excluded.push(doc.DocumentTitle);
										counter++;
									}
								});
								if (counter > 4 )
									return false;
							});

							if(newsItems.length){
								$this.find('.FinancialListContainer').html(newsItems);
							}
							else{
								$this.find('.FinancialListContainer').html('No items found this year');	
							}

						}
	                };
					
	               	NewsObject.getFinancialList();
	            });
	        }
	    });  
	})(jQuery);

	$(document).ready(function(){
		$('.FinancialReportsLatest').Q4Financial();
		
		$('.FinancialReportsLatest .ModuleTitle').after('<span class="ViewAllLink"><a href="'+view_all_link_financial+'">View All</a></span>');
	});
</script>


<div class="FinancialListContainer">

</div>
