<script type="text/javascript">
	var view_all_link = "http://google.com";

	(function($){
	    $.fn.extend({        
	        Q4News: function(options) {
	         
	 
	            return this.each(function() {
	              
	                var $this  = $(this);
					
	                var NewsObject = {
	            		serviceData: {
		                	serviceDto: {
		                		ViewType: GetViewType(),
		                        ViewDate: GetViewDate(),
		                        RevisionNumber: GetRevisionNumber(),
		                        LanguageId: GetLanguageId(),
		                        StartIndex:0,
								ItemCount:3,
								TagList: ['financial'],
								IncludeTags: true,
		                        Signature: GetSignature()
		                	},
							year: -1,
						pressReleaseSelection: 1,
						pressReleaseBodyType: 3 
						},


					    getNewsList:function(){
					    	var inst = this;
					    	$.ajax({
				       			type: "POST",
						      	url: "/Services/PressReleaseService.svc/GetPressReleaseList",
						        data: JSON.stringify(inst.serviceData),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	inst.parseNewsList.call(this, data, inst.serviceData, inst)
						        },
						        error:function(data){
						        	console.log('get news list error' + data)
						        }
						    });
					    },

					    parseNewsList:function(data, param, inst){

							var newsItems = '';

							$.each(data.GetPressReleaseListResult, function(index, value){
								var NewsItemRow = index%2 ? "ModuleItemRow ModuleItemAlt" : "ModuleItemRow";
								
								
								var datePost  = function(date){
									return $.datepicker.formatDate('dd/mm/yy ', new Date(date));
								};

								newsItems+='<div class="'+NewsItemRow+'">';
								newsItems+='<span class="ModuleDate">'+datePost(value.PressReleaseDate)+'</span>';
								newsItems+='<a href="'+value.LinkToDetailPage+'" class="ModuleHeadlineLink">'+value.Headline+'</a>';
								newsItems+='<span class="ItemRowArrow"></span>';
								newsItems+='<div class="ShortBody">'+value.ShortBody.substring(0,200)+'...<span class="ReadMore"><a href="'+value.LinkToDetailPage+'">Read More</a></span></div>';
								newsItems+='</div>';

							});

							if(newsItems.length){
								$this.find('.NewsListContainer').html(newsItems);
							}
							else{
								$this.find('.NewsListContainer').html('No items found');	
							}

						}
	                };
					
	               	NewsObject.getNewsList();
	            });
	        }
	    });  
	})(jQuery);

	$(document).ready(function(){
		$('.PressReleasesFinancialWidget').Q4News();
		
		$('.PressReleasesFinancialWidget .ModuleTitle').after('<span class="ViewAllLink"><a href="'+view_all_link+'">View All</a></span>');
	});
</script>


<div class="NewsListContainer">

</div>
