<script type="text/javascript">
(function($){

    $.fn.extend({ 
        
        FinancialWidget: function(options) {
 
        var defaults = {
            ItemCount: -1,
            reportType:false,
            callBackFxn:false
        }

        var options =  $.extend(defaults, options);
 
        return this.each(function() {
                var o = options,
                 $obj = $(this);
                
                var FinancialObj = {
                    
                    dataPost:{
                         serviceDto:
                        {
                            ViewType: GetViewType(),
                            ViewDate: GetViewDate(),
                            RevisionNumber: GetRevisionNumber(),
                            LanguageId: GetLanguageId(),
                            Signature: GetSignature(),
                            TagList: [],
                            IncludeTags: true,
                            ItemCount: o.ItemCount
                        },
					reportSubTypeList: ["First Quarter","Second Quarter","Third Quarter","Fourth Quarter"],
					reportSubType : ["First Quarter","Second Quarter","Third Quarter","Fourth Quarter"]
                    },
                    getFinancialYears:function()
                    {
                        var inst = this;
                            
                            $.ajax({
                                type: "POST",
                                url: "/Services/FinancialReportService.svc/GetFinancialReportYearList",
                                data: JSON.stringify(inst.dataPost),
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success:function(data){
                                    var yearList = [];
                                    
                                    $.each(data.GetFinancialReportYearListResult,function(index,value)
                                    {
                                            yearList.push('<option value="'+value+'">'+value+'</option>');
                                    });
                                    
                                    inst.dataPost.year = data.GetFinancialReportYearListResult[0];
                                    inst.getFinancial();
                                    
                                    var $select = $('<select />',{html:yearList.join(''),"id":"FilterByYears"}).appendTo('#FinancialDropdown');
									$('#FilterByYears').before('<span>Year: </span>');
                                    
                                    $select.on('change',function(event){
                                        var yr = $(this).val()!=""?parseInt($(this).val()):-1;
                                        inst.dataPost.year = yr;
                                        inst.getFinancial();
                                    });
                                },
                                error:function(data){
                                    console.log('get financial years error' + data)
                                }
                            });
                    },
                    getFinancial:function(){
                        var inst = this,
                            options = [];
                        
                        options =  $.extend(inst.dataPost, options);
                        
                        $.ajax({
                            type: "POST",
                            url: "/Services/FinancialReportService.svc/GetFinancialReportList",
                            data: JSON.stringify(options),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success:inst.parseFinancial
                        });
                    },
                    
                    parseFinancial:function(data){
                        var inst = this;
                        
                        $obj.html('<div class="YearContianer"></div>');     
                        
                        $.each(data.GetFinancialReportListResult, function(i, val){
                        if( val.ReportSubType !== "Annual Report" && val.ReportSubType !== "Supplemental Report"){
                            var dateVal = $.datepicker.formatDate("MM dd, yy", new Date(val.ReportDate));
                            var ReportType  = val.ReportSubType;
                            var ReportFiscalYear = val.ReportYear;
                            var ReportTitleYear = val.ReportDate.split('/').pop().split(' ').shift(),
                            Documents = [];
                                
                            
                            $.each(val.Documents, function(item, doc){
                                alternate = item % 2 === 0 ? '' : 'alt' ;
                                documentText = (doc.DocumentCategory == "Webcast")?'<i class="fa fa-microphone"></i>Listen to Webcast':'<i class="fa fa-download"></i>Download PDF' ;
                                var docContent = '<li class="'+doc.DocumentType+'  '+alternate+'"><span class="Title '+doc.DocumentFileType+'">'+doc.DocumentCategory+'</span>   <a href="'+doc.DocumentPath+'" class="'+doc.DocumentCategory+' '+doc.DocumentFileType+'" target="_blank">'+documentText+'</a></li>'
                                Documents.push(docContent);
                            });
                            var quarter = val.ReportTitle.split(" ");

                                    switch (quarter[0]){
                                        case "First":
                                        quarter = "<span>Q1 "+ReportFiscalYear+"</span>";
                                        break;
                                        case "Second":
                                        quarter = "<span>Q2 "+ReportFiscalYear+"</span>"
                                        break;
                                        case "Third":
                                        quarter = "<span>Q3 "+ReportFiscalYear+"</span>"
                                        break;
                                        case "Fourth":
                                        quarter = "<span>Q4 "+ReportFiscalYear+"</span>"
                                        break;
                                    }
                            
                            var content = '<div class="FinancialItem">';
                                content+='<p><b>'+quarter+'</b></p>';
                                content+='<div class="DocumentInfo"><ul>'+Documents.join('')+'</ul></div>';
                                content+='</div>';
                                
                            
                                
                                //<h3> FY '+ReportFiscalYear+'</h3><div class="slideUpDown"></div>
                        
                            
                            $obj.find('.YearContianer').append(content);
                            $('#FinancialYearNav, #FinancialWidget').show();
                            
                        }
                        });

                        if(typeof o.callBackFxn=='function'){   
                            o.callBackFxn.call(this);
                        }

                    },
                    init:function(){
                        
                    }
                };              
                FinancialObj.getFinancialYears();       
            });
        }
    });     
})(jQuery);

$(function(){
    $("#FinancialWidget").FinancialWidget();
    
    $('#FinancialWidget').ajaxComplete(function(){
        $(".YearContianer .FinancialItem > p").append('<span class="toggle-arrow">&nbsp;</span>');
        $('#FinancialWidget .YearContianer .FinancialItem p').click(function(){
            var pInst = $(this);
            if(pInst.hasClass('toggleing')){
                return false;
            }
            pInst.addClass('toggleing');
            
            $(this).parent().toggleClass('active').find('.DocumentInfo').slideToggle('fast', function(){ pInst.removeClass('toggleing');
                    
                    if (pInst.parent().find('.DocumentInfo').is(':visible'))
                    {
                        pInst.find('.toggle-arrow').addClass('active');
                    //    pInst.find('.toggle-arrow').html('<i class="fa fa-chevron-circle-up"></i>Collapse');
                    }
                    else
                    {
                        pInst.find('.toggle-arrow').removeClass('active');
                     //   pInst.find('.toggle-arrow').html('<i class="fa fa-chevron-circle-down"></i>Expand');
                    }
            });
            
            
        });

                $('.YearContianer>div.FinancialItem>p:first').trigger('click'); 
                $('#FinancialWidgetLoader').hide();
                });

});
</script>
<style>
.DocumentInfo {display:none;}
</style>
<div id="FinancialDropdown">
</div>
<div id="FinancialYearNav">
<ul></ul>
</div>
<div id="FinancialWidget"></div>