<script type="text/javascript">
$(document).ready(function(){
	var containerID = '_ctrl0_ctl78_divModuleContainer';
	var currentPage = 1;
	var itemsPerPage = 5;
	
	var numOfItems = $('#'+containerID+' .ModuleContainerInner div.ModuleItemRow').length;
	var pages = Math.ceil(numOfItems/itemsPerPage);
	
	//adds item row classes
	$('#'+containerID+' .ModuleContainerInner div.ModuleItemRow').each(function(index)
	{
		$(this).addClass('event_item'+(index+1));
		$(this).addClass('toPaginate');
		if ((index+1) > itemsPerPage)
			$(this).hide();
	});
	
	//creates prev next buttons
	var buttons = ['<span class="Prev"> < Previous </span>','<span class="separator"> | </span>','<span class="Next"> Next > </span>'];
	
	var $pag = $('<div />',{html:buttons.join(''),'id':"Pagination",'class':"Pagination"}).appendTo('#'+containerID);
	
	if (currentPage == 1)
		$('.Pagination .Prev,.Pagination .separator').hide();
	
	
	$('.Pagination .Next').on('click',function()
	{
		$('.toPaginate').hide();
		for(var i = currentPage * itemsPerPage ; i < itemsPerPage * (currentPage+1) ; i ++)
			$('.event_item'+i).show();
		if (currentPage == pages - 1)
			$('.Pagination .Next,.Pagination .separator').hide();
		//else
		if (!$('.Pagination .Prev').is(':visible'))
			$('.Pagination .Prev,.Pagination .separator').show();
		currentPage++;
	});
	
	$('.Pagination .Prev').on('click',function()
	{
		currentPage--;
		$('.toPaginate').hide();
		for (var i = itemsPerPage*currentPage ;  i > itemsPerPage*(currentPage-1) ;i--)
			$('.event_item'+i).show();
			
		if (currentPage == 1)
			$('.Pagination .Prev,.Pagination .separator').hide();
		if (!$('.Pagination .Next').is(':visible'))
			$('.Pagination .Next,.Pagination .separator').show();
	});
	
});
</script>