<script type="text/javascript">
(function($){
	 $.fn.extend({
		/**
		 * @param type : 0 - Press Releases , 1 - Events , //todo
		 * @param todo
		 */
		Q4Widget:function(options)
		{
			var defaults = {
				type: 0,
				tags:[],
				pagination:1,
				itemsPerPage:10,
				currentPage:1,
				tagType:'list'
			};
			var yearsUrls = ["/Services/PressReleaseService.svc/GetPressReleaseYearList","/services/EventService.svc/GetEventYearList"];
			var itemsUrls = ["/Services/PressReleaseService.svc/GetPressReleaseList","/services/EventService.svc/GetEventList"];
			var opts =  $.extend(defaults, options);
			
			return this.each(function() {
				var o = opts;
				var $this  = $(this);
				var $parent = $(this).parent();
				
				var Q4Object = {
					serviceData : {
						serviceDto:{
							ViewType: GetViewType(),
							ViewDate: GetViewDate(),
							RevisionNumber: GetRevisionNumber(),
							LanguageId: GetLanguageId(),
							ItemCount:o.itemsPerPage,
							StartIndex:0,
							Signature: GetSignature(),
							IncludeTags: false,
							TagList: o.tags
						},
					},
					getTags:function()
					{
						var inst = this;
						var tags = o.tags;
						var elems = [];
						//creates list of tags
						if (o.tagType == "list")
						{
							for ( var tag in tags)
								elems.push('<li class="TagItem" id="tag-'+tag+'"><a href="javascript:void(0);">'+tag+'</a></li>');
							
							//creates list of elements
							var elem = $('<ul />',{html:elems.join(''),'class':'TagList','id':'TagList'});
							
							//event on list element click
							elem.find('li').click(function(e){
								e.preventDefault();
								inst.serviceData.serviceDto.IncludeTags = true;
								inst.serviceData.serviceDto.TagList = [jQuery(this).attr('id').substring(4)];
								inst.getItems();
								if (o.pagination)
									inst.getItemsCount();
							});
						}
						//creates dropdown of tags 
						else 
						{
							elems.push('<option value="">All</option>');
							for ( var tag in tags)
								elems.push('<option value="'+tag+'">'+tag+'</option>');
							
							//creates a dropdown of tags
							var elem = $('<select />',{html:elems.join(''),'class':'TagList','id':'TagList'});
							
							elem.change(function()
							{
								e.preventDefault();
								inst.serviceData.serviceDto.IncludeTags = true;
								inst.serviceData.serviceDto.TagList = [jQuery(this).val()];
								inst.getItems();
								if (o.pagination)
									inst.getItemsCount();
							});
						}
					},
					getYears:function()
					{
						var inst = this;

						$.ajax({
							type: "POST",
							url: yearsUrl[o.type],
							data: JSON.stringify(inst.serviceData),
							contentType: "application/json; charset=utf-8",
							dataType: "json",
							success:function(data){
								inst.parseYears.call(this, data, inst);
							},
							error:function(data){
								console.log('get years list error' + data);
							}
						});
					},
					parseYears:function(data,inst)
					{
						//todo
					},
					getItems:function()
					{
						$.ajax({
							type: "POST",
							url: itemsUrl[o.type],
							data: JSON.stringify(inst.serviceData),
							contentType: "application/json; charset=utf-8",
							dataType: "json",
							success:function(data){
								inst.parseItems.call(this, data, inst);
							},
							error:function(data){
								console.log('get years list error' + data);
							}
						});
					},
					parseItems:function()
					{
						//todo
					},
					getItemsCount:function()
					{
						//todo
					}
				};
			});
		};
	 });
});
</script>