<script type="text/javascript">
	function compare(a,b)
	{
		var d1 = new Date(a.ReportDate).getTime();
		var d2 = new Date(b.ReportDate).getTime();
		
		if (d1 == d2)
			return 0;
		else if (d1 > d2)
			return -1;
		return 1;
	}

	(function($){
	    $.fn.extend({        
	        Q4Financial: function(options) {
	         
	            return this.each(function() {
					
					var FinancialsObject = {
	            		serviceData: {
		                	serviceDto: {
		                		ViewType: GetViewType(),
								ViewDate: GetViewDate(),
								RevisionNumber: GetRevisionNumber(),
								LanguageId: GetLanguageId(),
								Signature: GetSignature(),
								StartIndex: 0,
								ItemCount: 10
		                	},
							 year: -1,
							 reportSubType: ["First Quarter","Second Quarter","Third Quarter","Fourth Quarter","Supplemental Report","Annual Report"]
						},
						
					    getFinancialList:function(){
					    	var inst = this;
					    	$.ajax({
				       			type: "POST",
						      	url: "/Services/FinancialReportService.svc/GetFinancialReportList",
						        data: JSON.stringify(inst.serviceData),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	inst.parseFinancialList.call(this, data, inst.serviceData, inst)
						        },
						        error:function(data){
						        	console.log('get financial list error' + data)
						        }
						    });
					    },
						getPresentation:function()
						{
							var inst = this;
							 $.ajax({
								type: "POST",
								url: "/services/PresentationService.svc/GetPresentationList",
								data: JSON.stringify(inst.serviceData),
								contentType: "application/json; charset=utf-8",
								dataType: "json",           
								success:function(data){
									if (data.GetPresentationListResult.length){
										doc = data.GetPresentationListResult[0];
										$('.FinancialContainer .Body').append('<div class="PresentationReport"><span class="Title">Investor Presentation</span> - <span class="Download"><a href="'+doc.DocumentPath+'" target="_blank">Download</a></span></div>');
									}
						        },
								error:function(data){
						        	console.log('get financial list error' + data)
						        }
							});
						},
					    parseFinancialList:function(data, param, inst){
							data.GetFinancialReportListResult.sort(compare);
							var newsItems = '';
							var anual =[];
							var anuals='';
							var proxys='';
							var year = data.GetFinancialReportListResult[0].ReportYear;
							var quarter ='Q1';
							var earning_thumb = '';
							var earning_down = '';
							switch (data.GetFinancialReportListResult[0].ReportSubType)
							{
								case "First Quarter":
									quarter ='Q1';
								break;
								
								case "Second Quarter":
									quarter ='Q2';
								break;
								
								case "Third Quarter":
									quarter ='Q3';
								break;
								
								case "Fourth Quarter":
									quarter ='Q4';
								break;
								
							}
							$.each(data.GetFinancialReportListResult, function(index, value){
								
								
								$.each(value.Documents,function(ind,doc){
							
									if (value.ReportSubType =="Annual Report")
									{
										if (doc.DocumentCategory == "Financial Report" && $.inArray("anual",anual) < 0) 
										{
											anuals = '<div class="AnualReport"><span class="Title">Latest Anunual Report</span> - <span class="Download"><a href="'+doc.DocumentPath+'" target="_blank">Download</a></span></div>';
											anual.push("anual");
										}
										if (doc.DocumentCategory == "Proxy" && $.inArray("proxy",anual) < 0)
										{
											proxys = '<div class="ProxyReport"><span class="Title">Latest Proxy</span> - <span class="Download"><a href="'+doc.DocumentPath+'" target="_blank">Download</a></span></div>';
											anual.push('proxy');
										}
									}
									
									if (doc.DocumentCategory =="PressRelease" && $.inArray("earning",anual) < 0)
									{
										earning_down = doc.DocumentPath;
										earning_thumb = doc.ThumbnailPath;
										anual.push("earning");
									}
									
								});
							});
							newsItems ='<div class="FinancialContainer">';
							newsItems += '<div class="Head"><div class="Thumbnail">'+(earning_thumb != null?'<img src="'+earning_thumb+'" />':'')+'</div><div class="WidgetTitle"><span class="Title">'+year+' '+quarter+' Earnings</span><span class="Download"><a href="'+earning_down+'" target="_blank">Download</a></span></div></div>';
							newsItems += '<div class="Body">'+anuals+proxys+'</div>';
							newsItems +='</div>';
							
							if(newsItems.length){
								$('.FinancialsWidget').html(newsItems);
							}
							else{
								$('.FinancialsWidget').html('No items found this year');	
							}

						}
	                };
					
	               	FinancialsObject.getFinancialList();
					FinancialsObject.getPresentation();
	            });
	        }
	    });  
	})(jQuery);

	$(document).ready(function(){
		$('.FinancialReports').Q4Financial();
	});
</script>

<div class="FinancialsWidget">
</div>