<script type="text/javascript">
(function($){
	    $.fn.extend({        
	        Q4Financial: function(options) {
	         
	            return this.each(function() {
					
					var FinancialsObject = {
	            		serviceData: {
		                	serviceDto: {
		                		ViewType: GetViewType(),
								ViewDate: GetViewDate(),
								RevisionNumber: GetRevisionNumber(),
								LanguageId: GetLanguageId(),
								Signature: GetSignature(),
								StartIndex: 0
		                	},
							 year: -1,
							 reportSubType: ["Annual Report"]
						},
						
					    getFinancialList:function(){
							
					    	var inst = this;
					    	$.ajax({
				       			type: "POST",
						      	url: "/Services/FinancialReportService.svc/GetFinancialReportList",
						        data: JSON.stringify(inst.serviceData),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	inst.parseFinancialList.call(this, data, inst.serviceData, inst)
						        },
						        error:function(data){
						        	console.log('get financial list error' + data)
						        }
						    });
					    },
					    parseFinancialList:function(data, param, inst){
							var inst = this;
							var newsItems = '';
							var anuals='';
							var proxys='';
							
							newsItems ='<div class="FinancialContainer">';
							
							$.each(data.GetFinancialReportListResult, function(index, value){
								
								var cover = value.CoverImagePath!=""?'<span class="Cover"><img src="'+cover+'" /></span>':'';
								var repY = value.ReportYear;
								$.each(value.Documents,function(ind,doc){
							
									if (value.ReportSubType =="Annual Report")
									{
										if (doc.DocumentCategory == "Financial Report") 
										{
											var docSize = doc.DocumentFileSize!=null?'<span clas="Size">(PDF '+doc.DocumentFileSize+' )</span>':'';
											anuals = '<div class="AnualReport"><a href="'+doc.DocumentPath+'" target="_blank" class="Download">'+cover+'<span class="PreTitle">Report Year ('+repY+' Annual Report)</span><span class="Icon"></span><span class="Title">'+doc.DocumentTitle+'</span>'+docSize+'</a></div>';
											newsItems+=anuals;
										}
										/*
										if (doc.DocumentCategory == "Proxy" && $.inArray("proxy",anual) < 0)
										{
											proxys = '<div class="ProxyReport"><span class="Title">Latest Proxy</span> - <span class="Download"><a href="'+doc.DocumentPath+'" target="_blank">Download</a></span></div>';
											anual.push(proxys);
										}
										*/
									}
									
									
									
								});
							});
							
							newsItems +='</div>';
							console.log(newsItems);
							if(newsItems.length){
								$('.FinancialsWidget').html(newsItems);
							}
							else{
								$('.FinancialsWidget').html('No items found this year');	
							}

						}
	                };
					
	               	FinancialsObject.getFinancialList();
	            });
	        }
	    });  
	})(jQuery);

	$(document).ready(function(){
		$('.qAnualReports').Q4Financial();
	});
</script>

<div class="qAnualReports">
	<div class="FinancialsWidget">
	</div>
</div>