<script type="text/javascript">
	
	(function($){
	    $.fn.extend({        
	        Q4Events: function(options) {
	            var defaults = {
	                tags:[],
	            };
	            var currentPage = 1;
	            var options =  $.extend(defaults, options);
	 
	            return this.each(function() {
	                var o = options;
	                var $this  = $(this);

	                var EventsObject = {
	            		serviceData: {
		                	serviceDto: {
		                		ViewType: GetViewType(),
		                        ViewDate: GetViewDate(),
		                        RevisionNumber: GetRevisionNumber(),
		                        LanguageId: GetLanguageId(),
		                        ItemCount:-1,
								TagList: [],
		                        StartIndex:0,
		                        Signature: GetSignature()
		                	},
						 year : -1,
						 sortOperator:1,
	            		},


					    getYears:function(){	
					    	var inst = this,
					    	dataPost = this.serviceData;

				    		$.ajax({
				       			type: "POST",
						      	url: "/services/EventService.svc/GetEventYearList",
						        data: JSON.stringify(dataPost),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	var years = [];
									var len = data.GetEventYearListResult.length-1;
									
						        	$.each(data.GetEventYearListResult, function(index, value){
										years.push('<option value="'+value+'">'+value+'</option>');
						        	});
									
									
						        	var $select = $('<select />', {html:years.join(''),"id":"EventsYears","class":"EventYearList"}).appendTo('#ModuleYearNavContainer');
						        	$('<div />', {"class":"EventsListHeader"}).appendTo($this);
						        	$('<div />', {"class":"EventsListContainer"}).appendTo($this);
									
									inst.serviceData.year = parseInt(data.GetEventYearListResult[0]);
						        	inst.getEventsList();

						        	$select.on("change",function(event){
										inst.serviceData.serviceDto.StartIndex = 0;	
										inst.serviceData.year = parseInt($(this).val());
						        		inst.getEventsList();
						        	});
						        },
						        error:function(data){
						        	console.log('get years error' + data)
						        }
						    });
					    },
						getEventsList:function(){
					    	var inst = this;
							var extraParam = null;
							
							
					    	$.ajax({
				       			type: "POST",
						      	url: "/services/EventService.svc/GetEventList",
						        data: JSON.stringify(inst.serviceData),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	inst.parseEventList.call(this, data, extraParam, inst)
						        },
						        error:function(data){
						        	console.log('get news list error' + data)
						        }
						    });
					    },
					    parseEventList:function(data, param, inst){

							var eventsItems = '';

							$.each(data.GetEventListResult, function(index, value){
								var eventsItemRow = index%2 ? "ModuleItemRow ModuleItemAlt ItemEven" : "ModuleItemRow ItemOdd";
								
								var webcast = '';
								if (value.WebCastLink.length)
									webcast = '<ul class="WebcastList"><li class="DocWebcastItem"><span class="WebcastIcon"></span><a href="'+value.WebCastLink+'" target="_blank">Listen to webcast</a></li></ul>';
								
								var videoLink = '';
								if (value.Attachments.length)
									if (typeof value.Attachments[0] != "undefined")
									{
										videoLink = '<ul class="VideoLink"><li class="DocVideoLink"><a href="'+value.Attachments[0].Url+'" target="_blank"><span class="VideoIcon"></span>'+value.Attachments[0].Title+'</a></li></ul>';
									}
								
								var datePost  = function(date){
									return $.datepicker.formatDate('mm/dd/yy ', new Date(date));
								};
								
								eventsItems+='<div class="'+eventsItemRow+'">';
								eventsItems+='<div class="EventDate"><span class="ModuleDate"><strong>'+datePost(value.StartDate)+'</strong></span></div>';
								eventsItems+='<div class="EventTitle"><a href="'+value.LinkToDetailPage+'" class="ModuleHeadlineLink" target="_blank">'+value.Title+'</a><div class="EventLocation">'+value.Location+'</div>';
								eventsItems+='<div class="WebcastDiv">';
								eventsItems+=webcast;
								eventsItems+=videoLink;
								eventsItems+='<a href="'+value.LinkToDetailPage+'" class="HTML"></a>';
								eventsItems+='</div>';
								eventsItems+='</div></div>';

							});

							if(eventsItems.length){
								$this.find('.EventsListContainer').html(eventsItems);
							}
							else{
								$this.find('.EventsListContainer').html('No items found this year');	
							}

						},

						
	                };
					EventsObject.getYears();
	            });
	        }
	    });  
	})(jQuery);

	$(document).ready(function(){
		$('.ArchivedEvents .EventsContainer').Q4Events();
	});
</script>

<!-- Year Dropdown Container -->
<div id="ModuleYearNavContainer"></div>

<!-- Events Container -->
<div class="EventsContainer">
</div>