<script type="text/javascript">
	var view_all_proxy = '';
	var view_all_10Q = '';
	var view_all_10K = '';
	var view_all_Quarterly = '';
	var view_all_Press = '';

	function compare(a,b)
	{
		var d1 = new Date(a.ReportDate).getTime();
		var d2 = new Date(b.ReportDate).getTime();
		
		if (d1 == d2)
			return 0;
		else if (d1 > d2)
			return -1;
		return 1;
	}

	(function($){
	    $.fn.extend({        
	        Q4Financial: function(options) {
	         
	            return this.each(function() {
					
					var FinancialsObject = {
	            		serviceData: {
		                	serviceDto: {
		                		ViewType: GetViewType(),
								ViewDate: GetViewDate(),
								RevisionNumber: GetRevisionNumber(),
								LanguageId: GetLanguageId(),
								Signature: GetSignature(),
								StartIndex: 0,
								ItemCount: -1
		                	},
							 year: -1,
							 reportSubType: ["First Quarter","Second Quarter","Third Quarter","Fourth Quarter","Supplemental Report","Annual Report"],
							 pressReleaseSelection: 3,
							 excludeSelection: 1,
							 pressReleaseBodyType: 3,
							 symbol: "0001393818",
							 exchange: "CIK",
							 formGroupIdList:"1,2,4"
						},
						getPressRelease: function()
						{
							var inst = this;
							inst.serviceData.serviceDto.IncludeTags = true;
							inst.serviceData.serviceDto.TagList = ["earning"];
							$.ajax({
								type: "POST",
								url:  "/Services/PressReleaseService.svc/GetPressReleaseList",
								data: JSON.stringify(inst.serviceData),
								contentType: "application/json; charset=utf-8",
								dataType: "json",           
								success:function(data){
									if (data.GetPressReleaseListResult.length){
										doc = data.GetPressReleaseListResult[0];
										$('.FinancialContainer .earning').append('<div class="PressReport"><div class="Left"><span class="Title">Latest Earning Press Release</span> <div class="Download"><a href="'+doc.DocumentPath+'" target="_blank">Download PDF <span class="Icon"></span></a></div></div><div class="Right"><a href="'+view_all_Press+'"  target="_blank">View all earning press release<span class="Arrow"></span></a></div></div>');
									}
						        },
								error:function(data){
						        	console.log('get press release error' + data)
						        }
							});
						},
						getSECFilings: function()
						{
						
							var inst = this;
							inst.serviceData.serviceDto.IncludeTags = false;
							$.ajax({
								type: "POST",
								url: "/Services/SECFilingService.svc/GetEdgarFilingList",
								data: JSON.stringify(inst.serviceData),
								contentType: "application/json; charset=utf-8",
								dataType: "json",           
								success:function(data){
									if (data.GetEdgarFilingListResult.length){
										data.GetEdgarFilingListResult.sort(compare);
										var datas = data.GetEdgarFilingListResult;
										var ok = 0;
										var tenq = '';
										var tenk = '';
										$.each(datas,function(index,val){
											if (val.FilingTypeMnemonic == "10-Q")
											{
												var link = '';
													$.each(val.DocumentList,function(ind,doc)
													{
														if (doc.DocumentType == "CONVPDF")
														{
															link = doc.Url;
															return 1;
														}
													});
												if (link.length)
												{
													tenq = '<div class="10QReport"><div class="Left"><span class="Title">10-Q</span> <div class="Download"><a href="'+link+'" target="_blank">Download PDF <span class="Icon"></span></a></div></div><div class="Right"><a href="'+view_all_10Q+'" target="_blank">View all 10-Q<span class="Arrow"></span></a></div></div>';
													ok = 1;
												}
											}
											if (val.FilingTypeMnemonic == "10-K")
											{
												var link = '';
													$.each(val.DocumentList,function(ind,doc)
													{
														if (doc.DocumentType == "CONVPDF")
														{
															link = doc.Url;
															return 1;
														}
													});
													if (link.length)
													{
														tenk = '<div class="10KReport"><div class="Left"><span class="Title">10-K</span> <div class="Download"><a href="'+link+'" target="_blank">Download PDF <span class="Icon"></span></a></div></div><div class="Right"><a href="'+view_all_10K+'" target="_blank">View all 10-K<span class="Arrow"></span></a></div></div>';
														if (ok == 1)
															return 1;
													}
											}
										});
										
										
										$('.FinancialContainer .SECFilings').append(tenq,tenk);
									}
						        },
								error:function(data){
						        	console.log('get press release error' + data)
						        }
							});
						},
					    getFinancialList:function(){
					    	var inst = this;
					    	$.ajax({
				       			type: "POST",
						      	url: "/Services/FinancialReportService.svc/GetFinancialReportList",
						        data: JSON.stringify(inst.serviceData),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	inst.parseFinancialList.call(this, data, inst.serviceData, inst)
						        },
						        error:function(data){
						        	console.log('get financial list error' + data)
						        }
						    });
					    },
					    parseFinancialList:function(data, param, inst){
							data.GetFinancialReportListResult.sort(compare);
							
							var newsItems = '';
							var anual =[];
							var anuals='';
							var proxys='';
							var year = data.GetFinancialReportListResult[0].ReportYear;
							var quarter ='Q1';
							
							switch (data.GetFinancialReportListResult[0].ReportSubType)
							{
								case "First Quarter":
									quarter ='Q1';
								break;
								
								case "Second Quarter":
									quarter ='Q2';
								break;
								
								case "Third Quarter":
									quarter ='Q3';
								break;
								
								case "Fourth Quarter":
									quarter ='Q4';
								break;
								
							}
							$.each(data.GetFinancialReportListResult, function(index, value){
								
								
								$.each(value.Documents,function(ind,doc){
							
									if (value.ReportSubType =="Annual Report")
									{
										if (doc.DocumentCategory == "Proxy" && $.inArray("proxy",anual) < 0)
										{
											proxys = '<div class="ProxyReport"><div class="Left"><span class="Title">Latest Proxy Statement</span> <div class="Download"><a href="'+doc.DocumentPath+'" target="_blank">Download PDF <span class="Icon"></span></a></div></div><div class="Right"><a href="'+view_all_proxy+'" target="_blank">View all proxy statements<span class="Arrow"></span></a></div></div><div class="SECFilings"></div>';
											anual.push('proxy');
										}
									}
								});
								
								if (value.ReportSubType == "Supplemental Report")
								{
									var docs = value.Documents.reverse();
									
									$.each(docs,function(index,doc)
									{
										if (doc.DocumentCategory == "Financial Report" && $.inArray("anual",anual) < 0) 
											{
												
												anuals = '<div class="FinReport"><div class="Left"><span class="Title">Latest Quarterly Supplement</span> <div class="Download"><a href="'+doc.DocumentPath+'" target="_blank">Download PDF <span class="Icon"></span></a></div></div><div class="Right"><a href="'+view_all_Quarterly+'"  target="_blank">View all quarterly supplement<span class="Arrow"></span></a></div></div><div class="earning"></div>';
												anual.push("anual");
												return 1; //we should stop if we found what we were looking for
											}
									});
								}
								
							});
							newsItems ='<div class="FinancialContainer">';
							newsItems += '<div class="Body">'+proxys+anuals+'</div>';
							newsItems +='</div>';
							
							if(newsItems.length){
								$('.FinancialsWidget').html(newsItems);
							}
							else{
								$('.FinancialsWidget').html('No items found this year');	
							}

						}
	                };
					
	               	FinancialsObject.getFinancialList();
					FinancialsObject.getPressRelease();
					FinancialsObject.getSECFilings();
	            });
	        }
	    });  
	})(jQuery);

	$(document).ready(function(){
		$('.FinancialReports').Q4Financial();
	});
</script>

<div class="FinancialsWidget">
</div>