<script type="text/javascript" src="/files/js/respond.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("a.fancybox").fancybox();
    $('.goTop').click(function() {
            $('body,html').animate({scrollTop:0},400);
     });
            $('.NewsAlerts > h1').after('<p>Enter your email and choose a list below to receive alerts.</p>');
    });
 
</script>
<script type="text/javascript">
        //Mobile Menu
        var $menu = $('.mobileNav');

        $menu.find('.level1 ul').hide();
        $menu.find('.has-children').not('.home').each(function(){
          var $this = $(this),
            $a = $this.find('> a'),
            text = $a.text();
            url = $a.attr('href');
            var li = '<li class="cloned"><a href="' + url + '">' + text + '<i></i></a></li>';
            $this.find('> ul').prepend(li);
        });

         $menu.find('.has-children > a').not('.home > a').on('click', function(event){
			
          /* there is no need for this anymore 
		  event.preventDefault();
          var $this = $(this);
          if ($this.parent().hasClass('active')){
            $this.parent().removeClass('active').find('> ul').slideUp(300);
            $this.parent().find('.has-children').removeClass('active').find('> ul').slideUp(300);
          } else {
            $this.parent().addClass('active').find('> ul').slideDown(300);
            $this.parent().siblings().removeClass('active').find('> ul').slideUp(300);
            $this.parent().siblings().find('.has-children').removeClass('active').find('> ul').slideUp(300);
          }
		  */
        });

        $('.menuTrigger').on('click', function(){
          var $icon = $(this);
          if($icon.hasClass('active')){
            $menu.slideUp();
            $menu.find('li.active ul').slideUp();
            $menu.find('li.active').removeClass('active');
          } else {
            $menu.slideDown();
          }
          $icon.toggleClass('active');
        });
        $menu.find('li.selected > ul, li.expanded > ul').css('display', 'block').parent().addClass('active');

        $('.SearchMobile').hide();
        $('.menuTrigger').click(function(){
            $('.SearchMobile').slideToggle("fast");
        });
        $('.VisitB').hide();
        $('.menuTrigger').click(function(){
            $('.VisitB').slideToggle("fast");
        });
		$menu.find('> ul > li').each(function(index,value)
		{
			if ($(this).hasClass('expanded'))
			{
				var copil = $menu.find('.expanded, .selected').addClass('active').find('> ul');
				var third_copil = copil.find(' > li > ul.level3');
				third_copil.addClass('toshow');
				copil.children().first().before('<li class="back"><a href="javascript:void(0);"> << Back</a></li>');
				var inainte = $menu.html();
				//inainte.find('.expanded').find('ul').remove();
				var supercopil = '<ul class="level1"><li><ul class="level2">'+copil.html()+'</ul></li></ul>';
				var superthirdcopil = '<ul class="level1"><li><ul class="level2"><li>'+third_copil.html()+'</li></ul></li></ul>';
				
				if ($(this).find('ul.level3 .selected').length)
				{
					third_copil = copil.find(' > li > ul.level3 li.selected').parent();
					third_copil.children().first().before('<li class="back mid"><a href="javascript:void(0);"> << Back</a></li>');
					superthirdcopil = '<ul class="level1"><li><ul class="level2"><li>'+third_copil.html()+'</li></ul></li></ul>';
					$menu.html(superthirdcopil);
				}
				else
					$menu.html(supercopil);
				
				$(document).on('click','li.back',function(event)
				{
					event.preventDefault();
					if($(this).parent().hasClass('level2') && $(this).hasClass('mid'))
					{
						$menu.html(supercopil);
						$menu.find('.expanded ul.level3').hide();
						$(this).addClass('mid');
							
					}
					else
					{
						$menu.html(inainte);
						$menu.find('.expanded ul').hide();
						
					}
					
				});
				$(document).on('click','.mobileNav li.expanded',function(event)
				{
					event.preventDefault();
					if ($(this).find('ul.level3').hasClass('toshow') && $(this).parent().hasClass('level2'))
					{
						$menu.html(superthirdcopil);
						$menu.find('.expanded ul').hide();
					}
					else
					{
						$menu.html(supercopil);
						$menu.find('.expanded ul').hide();
					}
				});
				return -1;
			}
		});
</script>