<script type="text/javascript">
(function($){
	    $.fn.extend({        
	        Q4Financial: function(options) {
	         
	            return this.each(function() {
					
					var FinancialsObject = {
	            		serviceData: {
		                	serviceDto: {
		                		ViewType: GetViewType(),
								ViewDate: GetViewDate(),
								RevisionNumber: GetRevisionNumber(),
								LanguageId: GetLanguageId(),
								Signature: GetSignature(),
								StartIndex: 0
		                	},
							 year: -1,
							 reportSubType: ["Annual Report"]
						},
						
					    getFinancialList:function(){
							
					    	var inst = this;
					    	$.ajax({
				       			type: "POST",
						      	url: "/Services/FinancialReportService.svc/GetFinancialReportList",
						        data: JSON.stringify(inst.serviceData),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	inst.parseFinancialList.call(this, data, inst.serviceData, inst)
						        },
						        error:function(data){
						        	console.log('get financial list error' + data)
						        }
						    });
					    },
					    parseFinancialList:function(data, param, inst){
							var inst = this;
							var newsItems = '';
							var anuals='';
							var proxys='';
							
							newsItems ='<div class="FinancialContainer">';
							
							$.each(data.GetFinancialReportListResult, function(index, value){
								
								
								$.each(value.Documents,function(ind,doc){
							
									if (value.ReportSubType =="Annual Report")
									{
										if (doc.DocumentCategory == "Proxy") 
										{
											var docSize = doc.DocumentFileSize!=null?'<span clas="Size">(PDF '+doc.DocumentFileSize+' )</span>':'';
											anuals = '<div class="ProxyReport"><a href="'+doc.DocumentPath+'" target="_blank" class="Download"><span class="Thumb"><img src="'+doc.ThumbnailPath+'" /></span><span class="Icon"></span><span class="Title">'+doc.DocumentTitle+'</span>'+docSize+'</a></div>';
											newsItems+=anuals;
										}
									}
									
									
									
								});
							});
							
							newsItems +='</div>';
							console.log(newsItems);
							if(newsItems.length){
								$('.FinancialsWidget').html(newsItems);
							}
							else{
								$('.FinancialsWidget').html('No items found this year');	
							}

						}
	                };
					
	               	FinancialsObject.getFinancialList();
	            });
	        }
	    });  
	})(jQuery);

	$(document).ready(function(){
		$('.qProxyReports').Q4Financial();
	});
</script>

<div class="qProxyReports">
	<div class="FinancialsWidget">
	</div>
</div>