<script type="text/javascript">
(function($){
    $.fn.extend({
        FinancialTable:function(options){
            var defaults = {
                years: 4
            };
            var opts = $.extend(defaults, options);

            return this.each(function(){
                var o = opts;
                var $this = $(this);

                var FinancialObj = {

                    FeedData: {
                        serviceDto:{
                            ViewType: GetViewType(),
                            ViewDate: GetViewDate(),
                            RevisionNumber: GetRevisionNumber(),
                            LanguageId: GetLanguageId(),
                            Signature: GetSignature(),
                            TagList: [],
                            StartIndex: 0,
                            IncludeTags: true
                        },
						includePressReleases:true,
						includePresentations:true,
						includeFinancialReports:true 
                    },

                    extraParam: {},

                    getFinancialYears:function(){
                        var inst = this;

                        $.ajax({
                            type: "POST",
                            url: "/Services/FinancialReportService.svc/GetFinancialReportYearList",
                            data: JSON.stringify(inst.FeedData),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function(data){
                                var table = [
                                    '<table cellspacing="0" cellpadding="0" width="100%" class="CustomTable">',
                                        '<tbody>',
                                            '<tr class="Header odd"><th class="Q1">Q1</th><th class="Q2">Q2</th><th class="Q3">Q3</th><th class="Q4">Q4</th></tr>',
                                            '<tr class="PressReleases even"><td class="Q1"></td><td class="Q2"></td><td class="Q3"></td><td class="Q4"></td></tr>',
											'<tr class="Presentations odd"><td class="Q1"></td><td class="Q2"></td><td class="Q3"></td><td class="Q4"></td></tr>',
                                            '<tr class="Financial even"><td class="Q1"></td><td class="Q2"></td><td class="Q3"></td><td class="Q4"></td></tr>',
                                            '<tr class="Webcast odd"><td class="Q1"></td><td class="Q2"></td><td class="Q3"></td><td class="Q4"></td></tr>',
                                        '</tbody>',
                                    '</table>'
                                ].join('');

								$.each(data.GetFinancialReportYearListResult, function( index, value ){
						
									$this.append('<div class="YearTableContainer"><h1>'+value+' Quarterly Earnings</h1>');
									$this.append(table);
									$this.append('</div>');

									var $table = $this.find('table:last');

									inst.extraParam.year = value;
									inst.getFinancials.call(this, value, $table, inst);
									
								});
                            }
                        });
                    },

                    getFinancials:function(year, $table, inst){

                        var financialData = {
                            year: inst.extraParam.year
                        };

                        var extraParam = $.extend( {}, inst.FeedData, financialData );
                        
                        $.ajax({
                            type: "POST",
                            url: "/Services/FinancialReportService.svc/GetFinancialReportList",
                            data: JSON.stringify(extraParam),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function(data){

                                $.each(data.GetFinancialReportListResult, function( index, value ){
                                    var tag = value.TagsList[0],
                                    type;
                                    quarter = value.ReportSubType;
                                    
                                    switch(quarter) {
                                            case "First Quarter":
                                                quarter = "Q1";
                                                break;
                                            case "Second Quarter":
                                                quarter = "Q2";
                                                break;
                                            case "Third Quarter":
                                                quarter = "Q3";
                                                break;
                                            case "Fourth Quarter":
                                                quarter = "Q4";
                                                break;
                                            default:
                                                break;
                                    }

                                    $.each(value.Documents, function(i, val){
                                        var documents = [],
                                        name = val.DocumentTitle,
                                        url = val.DocumentPath;
                                        category = val.DocumentCategory;
										
										
										
									if (category == "Financial Report")
										category = "Financial";
											
										$table.find('.'+category+' td.'+quarter).append('<span class="finLink"><a target="_blank" href="'+url+'">'+name+'</a></span>');
                                    });
                                });
                            }
                        });
                    }
                };

                FinancialObj.getFinancialYears();
            });
        }
    });
}) (jQuery);

$(document).ready(function () {
    $('.FinancialTable').FinancialTable();
});
</script>
<div class="FinancialTable"></div>