<script type="text/javascript">
	(function($){
	    $.fn.extend({        
	        Q4Events: function(options) {
	         
	            return this.each(function() {
				
					var itemsPerPage = 3;     
					var currentPage = 1;
					var $this = this;
					
					var EventsObject = {
	            		serviceData: {
		                	serviceDto: {
		                		ViewType: GetViewType(),
								ViewDate: GetViewDate(),
								RevisionNumber: GetRevisionNumber(),
								LanguageId: GetLanguageId(),
								Signature: GetSignature(),
								StartIndex: 0,
								ItemCount: itemsPerPage,
								IncludeTags:true,
								TagList:["calendar"]
		                	},
							year: -1,
							includePressReleases:true,
							includePresentations:true,
							sortOperator: 1
						},

						getEventsYears:function(){
						
							var inst = this;
							
							$.ajax({
				       			type: "POST",
								url: "/services/EventService.svc/GetEventYearList",
								data: JSON.stringify(inst.serviceData),
								contentType: "application/json; charset=utf-8",
								dataType: "json",
						        success:function(data){
									var yearList = ['<option value="">Filter By:</option>'];
									
									$.each(data.GetEventYearListResult,function(index,value)
									{
											yearList.push('<option value="'+value+'">'+value+'</option>');
									});
									
									//initial news
									//inst.serviceData.year = data.GetEventYearListResult[0];
									inst.getEventsList();
									
									var $select = $('<select />',{html:yearList.join(''),"id":"FilterByYears"}).appendTo('.EventsWidget .HeaderTitles .Filter');
									
									$select.on('change',function(event){
										var yr = $(this).val()!=""?parseInt($(this).val()):-1;
										inst.serviceData.year = yr;
										currentPage = 1;
										inst.serviceData.serviceDto.StartIndex = 0;
										inst.getEventsList();
									});
						        },
						        error:function(data){
						        	console.log('get events years error' + data)
						        }
						    });
						},
						
					    getEventsList:function(){
					    	var inst = this;
					    	$.ajax({
				       			type: "POST",
						      	url: "/services/EventService.svc/GetEventList",
						        data: JSON.stringify(inst.serviceData),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	inst.parseEventsList.call(this, data, inst.serviceData, inst)
						        },
						        error:function(data){
						        	console.log('get financial list error' + data)
						        }
						    });
					    },

					    parseEventsList:function(data, param, inst){

							var newsItems = '';
							
							var excluded = [];
							var datePost  = function(date){
										return $.datepicker.formatDate('dd/mm/yy ', new Date(date));
							};
							
							$.each(data.GetEventListResult, function(index, value){
								
								var NewsItemRow = index%2 ? "ModuleItemRow ModuleItemAlt" : "ModuleItemRow";
								newsItems+='<div class="'+NewsItemRow+'">';
								newsItems+='<span class="ModuleDate">'+datePost(value.StartDate)+'</span>';
								newsItems+='<a href="'+value.LinkToDetailPage+'" class="ModuleHeadlineLink" target="_blank">'+value.Title+'</a>';
								newsItems+='</div>';
							});

							if(newsItems.length){
								$('.EventsWidget .EventsListContainer').html(newsItems);
							}
							else{
								$('.EventsWidget .EventsListContainer').html('No items found this year');	
							}
							inst.getEventsCount();
						},
						getEventsCount : function(){	
					    	var inst = this;
							
							$.ajax({
				       			type: "POST",
						      	url: "/services/EventService.svc/GetEventListCount",
						        data: JSON.stringify(inst.serviceData),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	var i, html;
						        	var num = data.GetEventListCountResult;
						        	inst.newsCount  = parseInt(num);
									var num_parsed = inst.newsCount;
						        	var shows = inst.newsCount>itemsPerPage?(inst.serviceData.serviceDto.StartIndex+itemsPerPage>=inst.newsCount)?num:inst.serviceData.serviceDto.StartIndex+itemsPerPage:num;
						        	var pageArr = [];
						        	var lastNum = Math.ceil(num/itemsPerPage);

						        	$('.PaginationCont span.showing').html('<p class="PaginNumbers">Showing '+(inst.serviceData.serviceDto.StartIndex+1)+' of '+num+'</p>');

						        	//Next | Prev Functionality
									if (currentPage == 1){$('.Prev,.Spacer,.FastPrev').hide();}
									else {$('.Prev,.FastPrev').show();}

									if (currentPage == lastNum){$('.Next,.Spacer,.FastNext').hide();}
									else if (currentPage > 1 && num_parsed > itemsPerPage){$('.Next,.FastNext').show();}
									else if (num_parsed > itemsPerPage) {$('.Next,.FastNext').show();}
									else if (num_parsed <=inst.serviceData.serviceDto.StartIndex+itemsPerPage) {$('.Next,.FastNext').hide();}

									
									$('.controls .Next').unbind('click').click(function(event){
										event.preventDefault();
											inst.serviceData.serviceDto.StartIndex = currentPage*itemsPerPage;
											inst.getEventsList();
											currentPage += 1;
										
									});

									$('.controls .Prev').unbind('click').click(function(event){
										event.preventDefault();
											currentPage -= 1;
											inst.serviceData.serviceDto.StartIndex = (currentPage-1)*itemsPerPage;
											inst.getEventsList();
									});
									
									$('.controls .FastNext').unbind('click').click(function(event){
										event.preventDefault();
										if (currentPage < lastNum){
											currentPage = lastNum;
											inst.serviceData.serviceDto.StartIndex = (lastNum-1)*itemsPerPage;
											inst.getEventsList();
										}
									});
									
									$('.controls .FastPrev').unbind('click').click(function(event){
										event.preventDefault();
										if (currentPage > 1)
										{
											currentPage = 1;
											inst.serviceData.serviceDto.StartIndex = 0;
											inst.getEventsList();
										}
									});
								},
								error:function(data){
									console.log('Error' + data);
								}
							});
						}
	                };
					
	               	EventsObject.getEventsYears();
	            });
	        }
	    });  
	})(jQuery);

	$(document).ready(function(){
		$('.Events').Q4Events();
	});
</script>

<div class="EventsWidget">
	<div class="HeaderTitles">
		<div class="Date">Date</div>
		<div class="Title">Title</div>
		<div class="Filter"></div>
	</div>
	<div class="EventsListContainer">

	</div>
</div>

<div class="PaginationCont">
<span class="controls">
    <span class="Prev"> < </span>
	<span class="FastPrev"> << </span>
    <span class="Spacer" style="display:none">|</span>
	<span class="showing"></span>
	<span class="FastNext"> >> </span>
    <span class="Next"> > </span>
</span>
<ul class="pageNum" style="display:none;"></ul>
</div>