<script type="text/javascript">
	(function($){
	    $.fn.extend({        
	        Q4Financial: function(options) {
	         
	            return this.each(function() {
					
					var FinancialsObject = {
	            		serviceData: {
		                	serviceDto: {
		                		ViewType: GetViewType(),
								ViewDate: GetViewDate(),
								RevisionNumber: GetRevisionNumber(),
								LanguageId: GetLanguageId(),
								Signature: GetSignature(),
								StartIndex: 0
		                	},
							 year: 2013
						},

						getFinancialYears:function(){
						
							var inst = this;
							
							inst.getFinancialList();
							
							$.ajax({
				       			type: "POST",
								url: "/Services/FinancialReportService.svc/GetFinancialReportYearList",
								data: JSON.stringify(inst.serviceData),
								contentType: "application/json; charset=utf-8",
								dataType: "json",
						        success:function(data){
									var yearList = ['<option value="">Filter By:</option>'];
									
									$.each(data.GetFinancialReportYearListResult,function(index,value)
									{
											yearList.push('<option value="'+value+'">'+value+'</option>');
									});
									
									var $select = $('<select />',{html:yearList.join(''),"id":"FilterByYears"}).appendTo('.FinancialsWidget .HeaderTitles .Filter');
									
									$select.on('change',function(event){
										var yr = $(this).val()!=""?parseInt($(this).val()):-1;
										inst.serviceData.year = yr;
										inst.getFinancialList();
									});
						        },
						        error:function(data){
						        	console.log('get financial years error' + data)
						        }
						    });
						},
						
					    getFinancialList:function(){
					    	var inst = this;
					    	$.ajax({
				       			type: "POST",
						      	url: "/Services/FinancialReportService.svc/GetFinancialReportList",
						        data: JSON.stringify(inst.serviceData),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	inst.parseFinancialList.call(this, data, inst.serviceData, inst)
						        },
						        error:function(data){
						        	console.log('get financial list error' + data)
						        }
						    });
					    },

					    parseFinancialList:function(data, param, inst){

							var newsItems = '';
							
							var excluded = [];
							var datePost  = function(date){
										return $.datepicker.formatDate('dd/mm/yy ', new Date(date));
							};
							
							$.each(data.GetFinancialReportListResult, function(index, value){
								
								
								$.each(value.Documents,function(ind,doc){
							
									var NewsItemRow = index%2 ? "ModuleItemRow ModuleItemAlt" : "ModuleItemRow";
									
					
										newsItems+='<div class="'+NewsItemRow+'">';
										newsItems+='<span class="ModuleDate">'+datePost(value.ReportDate)+'</span>';
										newsItems+='<a href="'+doc.DocumentPath+'" class="ModuleHeadlineLink" target="_blank">'+doc.DocumentTitle+'</a>';
										//newsItems+='<span class="ItemRowArrow"></span>';
										newsItems+='</div>';
								});
							});

							if(newsItems.length){
								$('.FinancialsWidget .FinancialListContainer').html(newsItems);
							}
							else{
								$('.FinancialsWidget .FinancialListContainer').html('No items found this year');	
							}

						}
	                };
					
	               	FinancialsObject.getFinancialYears();
	            });
	        }
	    });  
	})(jQuery);

	$(document).ready(function(){
		$('.FinancialReports').Q4Financial();
	});
</script>

<div class="FinancialsWidget">
	<div class="HeaderTitles">
		<div class="Date">Date</div>
		<div class="Title">Title</div>
		<div class="Filter"></div>
	</div>
	<div class="FinancialListContainer">

	</div>
</div>