<script type="text/javascript">
	(function($){
	    $.fn.extend({        
	        Q4Events: function(options) {
	            var defaults = {
	                tags:[],
					itemsPerPage:3
	            };
	            var options =  $.extend(defaults, options);
	 
	            return this.each(function() {
	                var o = options;
	                var $this  = $(this);
					var years = [];
					var currentPage = 1;
	                var EventsObject = {
	            		serviceData: {
		                	serviceDto: {
		                		ViewType: GetViewType(),
		                        ViewDate: GetViewDate(),
		                        RevisionNumber: GetRevisionNumber(),
		                        LanguageId: GetLanguageId(),
		                        ItemCount:o.itemsPerPage,
								TagList: [],
		                        StartIndex:0,
								IncludeTags: false,
		                        Signature: GetSignature()
		                	},
						year : -1,
						includePressReleases : true,
						includePresentations : true,
						includeFinancialReports : true,
						eventSelection: 0,
						sortOperator:1
	            		},
					    getYears:function(){	
					    	var inst = this,
					    	dataPost = this.serviceData;
							
				    		$.ajax({
				       			type: "POST",
						      	url: "/services/EventService.svc/GetEventYearList",
						        data: JSON.stringify(dataPost),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	var years = ['<option value="-1">All years</option>'];

						        	$.each(data.GetEventYearListResult, function(index, value){
						        		years.push('<option value="'+value+'">'+value+'</option>');
						        	});
									
									$('<span class="year">Year: </span>').appendTo('#ModuleYearNavContainer');
						        	var $selectbox = $('<select />', {html:years.join(''),"id":"EventsYears","class":"EventsYearsDropdown"}).appendTo('#ModuleYearNavContainer');
						        	$('<div />', {"class":"EventsListHeader"}).appendTo($this);
						        	$('<div />', {"class":"EventsListContainer"}).appendTo($this);
									
									//inst.serviceData.year = data.GetEventYearListResult[0];
						        	inst.getEventsList();

						        	$selectbox.change(function(event){
										inst.serviceData.serviceDto.StartIndex = 0;	
										currentPage = 1;
										inst.serviceData.year = parseInt($selectbox[0].value);
										inst.getEventsList();
						        	});
						        },
						        error:function(data){
						        	console.log('get years error' + data)
						        }
						    });
					    },

					    getEventsList:function(){
					    	var inst = this;
							var extraParam = null;
							
					    	$.ajax({
				       			type: "POST",
						      	url: "/services/EventService.svc/GetEventList",
						        data: JSON.stringify(inst.serviceData),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	inst.parseEventList.call(this, data, extraParam, inst);
									inst.getEventsCount();
						        },
						        error:function(data){
						        	console.log('get news list error' + data)
						        }
						    });
					    },

					    parseEventList:function(data, param, inst){

							var eventsItems = '';
							$.each(data.GetEventListResult, function(index, value){
								var eventsItemRow = index%2 ? "ModuleItemRow ModuleItemAlt ItemEven" : "ModuleItemRow ItemOdd";
								
								var files = [];
								
								if (value.EventPresentation.length)
									files.push('<span class="RelatedPressRelease"><span class="Arrow"></span><a href="'+value.EventPresentation[0].DocumentPath+'" target="_blank">Presentation</a></span>');
								
								if (value.WebCastLink.length && value.WebCastLink != "http://q4websystems.com/")
									files.push('<span class="RelatedWebcast"><span class="Arrow"></span><a target="_blank" href="'+value.WebCastLink+'">Listen</a></span>');
								
								if (value.DocumentPath.length)
									files.push('<span class="RelatedSupportingDocument"><span class="Arrow"></span><a target="_blank" href="'+value.DocumentPath+'">Supporting Document</a></span>');
								
								var datePost  = function(date){
									return $.datepicker.formatDate('MM d, yy', new Date(date));
								};
						
								
								var an = datePost(value.StartDate).substring(6,10);
								
								eventsItems+='<div class="'+eventsItemRow+'">';
								eventsItems+='<div class="ModuleDate">'+datePost(value.StartDate)+' <span class="DateSeparator">|</span> '+value.StartDate.substring(10,16)+'</div>';
								eventsItems+='<div class="Title"><a href="'+value.LinkToDetailPage+'" class="ModuleHeadlineLink">'+value.Title+'</a></div>';
								eventsItems+='<div class="AdditonalFiles">';
								eventsItems+=files.join('');
								eventsItems+='</div>';
								eventsItems+='</div>';

							});
							
							if(eventsItems.length){
								$this.find('.EventsListContainer').html(eventsItems);
							}
							else{
								$this.find('.EventsListContainer').html('No items found this year');	
							}


						},

						getEventsCount : function(){	
					    	var inst = this;

					    	$.ajax({
				       			type: "POST",
						      	url: "/services/EventService.svc/GetEventListCount",
						        data: JSON.stringify(inst.serviceData),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	var i, html;
									
						        	var num = data.GetEventListCountResult;
						        	inst.EventsCount  = parseInt(num);
						        	var shows = inst.EventsCount>o.itemsPerPage?(inst.serviceData.serviceDto.StartIndex+o.itemsPerPage>=inst.EventsCount)?num:inst.serviceData.serviceDto.StartIndex+o.itemsPerPage:num;
						        	var pages = Math.ceil(inst.EventsCount/o.itemsPerPage);
						        	var pageArr = [];
						        	var lastNum = $('.pageNum li:last a').text();
									
									if (num <= 0 )
										$('.PaginationCont').hide();
									else $('.PaginationCont').show();
									
										$('.PaginationCont span.showing').html('<p class="PaginNumbers">Showing '+(inst.serviceData.serviceDto.StartIndex+1)+'-'+shows+' of '+num+'</p>');

										pageArr.push("<li>Page:</li>");
										pageArr.push("<li><a href='#'>1</a></li>");

										//Build 4 numbers before the current page with ...
										if (currentPage >=6){
											pageArr.push("<li class='spacer'>...</li>");
											for (i=currentPage-4; i<currentPage+1; i++){
												pageArr.push("<li><a href='#'>"+i+"</a></li>");
											}
										}
										//Build numbers before current page without ...
										else {
											for (i=2; i<currentPage+1; i++){
												pageArr.push("<li><a href='#'>"+i+"</a></li>");	
											}
										}

										//Build 4 numbers after the current page (excludes 1)
										if (currentPage+5 < pages){
											for (i=currentPage+1; i<currentPage+5; i++){
												pageArr.push("<li><a href='#'>"+i+"</a></li>");
											}
										}

										//Stop making numbers > last page
										else {
											for (i=currentPage+1; i<pages; i++){
												pageArr.push("<li><a href='#'>"+i+"</a></li>");
											}
										}
										
										if (currentPage < pages-5){
											pageArr.push("<li class='spacer'>...</li>");
										}

										if (currentPage != pages){
											pageArr.push("<li><a href='#'>"+pages+"</a></li>");
										}

										html = pageArr.toString();
										$('.pageNum').html(html.replace(/,/g, ''));
										$('.pageNum li a:contains('+currentPage+'):first').parent().html(currentPage);

										$('.pageNum li:not(":first")').not('.spacer').click(function(event){
											event.preventDefault();
											currentPage = parseInt($(this).text());
											var number = $(this).text()-1;
											inst.serviceData.serviceDto.StartIndex = number*o.itemsPerPage;
											inst.getEventsList();
										});

										//Next | Prev Functionality
										if (currentPage == 1){$('.Prev, .Spacer').hide();}
										else {$('.Prev, .Spacer').show();}

										if (currentPage == lastNum || o.itemsPerPage == num){$('.Next, .Spacer').hide();}
										else if (currentPage > 1){$('.Next, .Spacer').show();}
										else  {$('.Next').show();}

										$('.controls .Next').unbind('click').click(function(event){
											event.preventDefault();
											lastNum = $('.pageNum li:last a').text();
											if (currentPage < lastNum){
												inst.serviceData.serviceDto.StartIndex = currentPage*o.itemsPerPage;
												inst.getEventsList();
												currentPage += 1;
											}
										});

										$('.controls .Prev').unbind('click').click(function(event){
											event.preventDefault();
											if (currentPage > 1){
												var PrevPage = Math.round((shows/10)-2);
												currentPage -= 1;
												inst.serviceData.serviceDto.StartIndex = PrevPage*o.itemsPerPage;
												inst.getEventsList();
											}
										}); 
									
						        },
						        error:function(data){
						        	console.log('Count news error' + data);
						        }
						    });
					    }
	                };
					EventsObject.getYears();
	            });
	        }
	    });  
	})(jQuery);

	$(document).ready(function(){
		$('.EventsWidget .EventsContainer').Q4Events();
	});
</script>


<!-- Year Dropdown Container -->
<div id="ModuleYearNavContainer"></div>

<!-- Events Container -->
<div class="EventsContainer">

</div>

<!-- Pagination -->
<div class="PaginationCont">
        <span class="controls">
		<span class="Prev"> &lt; &nbsp;&lt;&lt;</span>
	</span>
	<span class="showing"></span>
	<span class="controls">
		<span class="Next"> &gt;&gt;&nbsp; &gt;</span>
	</span>
        <ul class="pageNum" style="display:none;"></ul>
</div>