<script type="text/javascript">
	(function($){
	    $.fn.extend({ 
	         
	        Q4Financials: function(options) {
	            var defaults = {
	                tags:[]
	            };     
	            var options =  $.extend(defaults, options);
	 
	            return this.each(function() {
	                var o = options;
	                var $this  = $(this);

	                var NewsObject  = {

                		serviceData : {
			                serviceDto: {
	                            ViewType: GetViewType(),
	                            ViewDate: GetViewDate(),
	                            RevisionNumber: GetRevisionNumber(),
	                            LanguageId: GetLanguageId(),
	                            Signature: GetSignature(),
	                            TagList: [ ],
	                            //IncludeTags: true,
								ItemCount: o.ItemCount
	                        },
							reportSubType:['First Quarter','Second Quarter','Third Quarter','Fourth Quarter'],
	                        reportSubTypeList: ['First Quarter','Second Quarter','Third Quarter','Fourth Quarter']
                		},

					    getNewsYears:function(){	
					    	var inst = this,
					    		dataPost = this.serviceData;

				    		$.ajax({
				       			type: "POST",
						      	url: "/Services/FinancialReportService.svc/GetFinancialReportYearList",
						        data: JSON.stringify(dataPost),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	inst.extraParam.year = data.GetFinancialReportYearListResult[0];
						        	inst.getNewsList();
								},
						        error:function(data){
						        	console.log('get years error' + data)
						        }
						    });
					    },

					    extraParam:{
					    	reportSubTypeList: ['First Quarter','Second Quarter','Third Quarter','Fourth Quarter']
					    },

					    getNewsList:function(){
					    	var inst = this;
							var extraParam = $.extend(inst.serviceData, inst.extraParam);

					    	$.ajax({
				       			type: "POST",
						      	url: "/Services/FinancialReportService.svc/GetFinancialReportList",
						        data: JSON.stringify(extraParam),
						        contentType: "application/json; charset=utf-8",
						        dataType: "json",
						        success:function(data){
						        	inst.parseNewsList.call(this, data, extraParam, inst)
						        },
						        error:function(data){
						        	console.log('get news list error' + data)
						        }
						    });
					    },

					    parseNewsList:function(data, param, inst){
					    	var newsItems = [];
					    	var inst = this;
							var YearArray  = [];

							$this.find('.FinancialReportContainer').remove()

							$.each(data.GetFinancialReportListResult, function(i, val){
							var ReportType  = val.ReportSubType;
								
								if(ReportType !='Annual Report' && ReportType !='Supplemental Report') {
									
									var ReportTitleYear = val.ReportTitle.split(' ').pop(),
									DocumentRlative = val.Documents[0],
									Documents = [],
									otherDocs = [],
									categoryArray  = [];
									
									
									$.each(val.Documents, function(item, doc){
									    var categoryItem = doc.DocumentCategory;
										var firstItem = '';
										var Rep = val.ReportDate.split(" "), dateRep = Rep[0];
										var icon = doc.IconPath != null ? '<img src="'+doc.IconPath+'">' : '';
										
										if($.inArray(categoryItem, categoryArray ) ==-1){
											categoryArray.push(categoryItem);
											firstItem = 'first'
										}
										
										var size = doc.DocumentFileSize !==null?'<span class="size">'+doc.DocumentFileSize+'</span>':'';
										var docContent 	 = '<tr class="'+firstItem+'">';
										
											docContent	+= '<td><span class="'+doc.DocumentFileType+'"><a href="'+doc.DocumentPath+'" class="icon">' + doc.DocumentTitle + '</a></span></td>';
										
										Documents.push(docContent);
									});
									
									var quarter = val.ReportTitle.split(" ");

									switch (quarter[0]){
										case "First":
										quarter = "Q1"
										break;
										case "Second":
										quarter = "Q2"
										break;
										case "Third":
										quarter = "Q3"
										break;
										case "Fourth":
										quarter = "Q4"
										break;
									}

									var content = '<div class="FinancialItem">';
									content+='<h3 class="FinancialQuarter">'+quarter+' '+ReportTitleYear+'</h3>';
									content+='<div class="DocumentInfo"><table>'+Documents.join('')+'</table></div>';
									content+='</div>';
									
									if($.inArray( ReportTitleYear, YearArray ) ==-1){
										YearArray.push(ReportTitleYear);
										$this.append('<div class="FinancialReportContainer '+ReportTitleYear+'"></div>');
									}	
									
									$this.find('.FinancialReportContainer:last').append(content);
									
								}
							});
					    }
	                };
	               	NewsObject.getNewsYears();
	            });
	        }
	    });
	     
	})(jQuery);

$(function(){
	$('#Financials').Q4Financials();
});
</script>
<div id="Financials">
</div>